{% extends "layout/backEndLayout.html.twig" %}

  
  {% block stylesheets %}
        	 {{parent()}} 
           <link rel="stylesheet" href="{{ asset('//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css') }}">
            
{% endblock %}

{% block content %}
 {% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="container bootstrap snippets bootdey">
    <h1 class="text-primary"></h1>
         {{ form_start(form ) }}
   
      <hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img  src="{{ app.user.avatar(75) }}" class="shadow rounded-circle" alt="avatar">
          <span class="glyphicon glyphicon-user"></span>Choose your image or profile icon by clicking
            <a   class="btn  btn-secondary  fw-bold " href="https://fr.gravatar.com/">
                           
                here      
         </a>
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        
        <h3 class=" card-header text-center">Personal info</h3>
        
        <form class="form-horizontal mx-auto" role="form">
          <div class="form-group">
          
            <div class="col-lg-8">
                {{form_row(form.fullName)}}
            </div>
          </div>
          <div class="form-group">
           
            <div class="col-lg-8">
              {{form_row(form.phoneNumber)}}
            </div>
          </div>
          <div class="form-group">
            
            <div class="col-lg-8">
              {{form_row(form.birthday)}}
            </div>
          </div>
           {% if is_granted('ROLE_ADMIN') %}
            <div class="form-group">
            
            <div class="col-lg-8">
              {{form_row(form.email)}}
            </div>
          </div>
           <div class="form-group">
            
            <div class="col-lg-8">
              {{form_row(form.status)}}
            </div>
          </div>
            {% endif %}
           <div class="form-group">
            
            <div class="col-lg-8">
              {{form_row(form.domain)}}
            </div>
          </div>
         
          <div class="form-group">
           
            <div class="col-lg-8">
               {{form_row(form.nationality)}}
            </div>
          </div>
           <div class="form-group">
            
            <div class="col-lg-8">
              {{form_row(form.birthplace)}}
            </div>
          </div>
           <div class="form-group">
            
            <div class="col-lg-8">
              {{form_row(form.region)}}
            </div>
          </div>
           <div class="form-group">
            
            <div class="col-lg-8">
              {{form_row(form.department)}}
            </div>
          </div>
          <div class="form-group">
              <div class="col-lg-8">
               {{form_row(form.location)}}
            </div>
          </div>
          <div class="form-group">
              <div class="col-lg-8">
               {{form_row(form.academicLevel)}}
            </div>
          </div>
          <div class="form-group">
              <div class="col-lg-8">
               {{form_row(form.gender)}}
            </div>
          </div>
          <div class="form-group">
              <div class="col-lg-8">
               {{form_row(form.numCni)}}
            </div>
          </div>
          <div class="form-group">
              <div class="col-lg-8">
               {{form_row(form.securityQuestion)}}
            </div>
          </div>
          <div class="form-group">
              <div class="col-lg-8">
               {{form_row(form.securityAnswer)}}
            </div>
          </div>
          <br/>
          <div class="form-group mx-auto">
              <div class="col-lg-6">
               <button class="btn btn-lg btn-primary  btn-block" type="submit">Apply changes</button>
            </div>
          </div>
       
      
      </div>
      
  </div>
</div>
<hr>
   
   {{ form_end(form ) }}
{% endblock %}

  {% block javascripts %}
        	 {{parent()}} 
              <script src="{{ asset('//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js') }}"></script>    
{% endblock %}