<!DOCTYPE html>
<html>

    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>
            {% if room.level.cycle.section.name == "Francophone" %}
                Bulletins trimestriel
                                			
                            
            {% else %}
                Quaterly reportcard
                                			
                            
            {% endif %}
            {{ room.name }}
        </title>
    </head>

    <body style="font-family:  times, serif;">
            <div style=" height:1610px; border-style: double; justify-content: space-between; vertical-align: middle;  text-align: center; margin:  auto;   ">

                <section style=" margin:auto;" class="sheet  frontpage">
                        {{ include('classroom/partials/reportcard_header.html.twig') }}

                        <hr style="margin-left:0px" width="1135" />
                        <br/>
                        <br/>
                        <table cellspacing="0" cellpadding="5" style="line-height:18px;">
                            <tr>
                                <td>
                                    <h3>
                                        <span>
                                            Nom/Name : 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                            
                                                                                                                                                                                        
                                                                                                                                                    
                                                                                                                
                                                                            
                                        </span>
                                        <b>
                                            {{ std.lastname }}
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            {{ std.firstname }}
                                        </b>
                                    </h3>
                                    <br/>
                                    <br/>
                                    <h3>
                                        <span>
                                            N&eacute(e) le/Born on :
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            {% if std.birthday %}
                                                {{ std.birthday|date('Y-m-d') }}
                                            {% endif %}
                                            &agrave;/ at :
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            <br/>
                                            <br/>
                                            {{ std.birthplace }}
                                        </span>
                                        <br/>
                                    </h3>

                                    <h3>
                                        <span>
                                            Sexe: 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            {% if std.gender %}
                                                FEMININ
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                    
                                                                                                                                                                                                            
                                                                                                                                                                    
                                                                                                                            
                                                                                    
                                            {% else %}
                                                MASCULIN 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                    
                                                                                                                                                                                                            
                                                                                                                                                                    
                                                                                                                            
                                                                                    
                                            {% endif %}
                                        </span>
                                        <br/>
                                    </h3>
                                </td>
                                <td style="padding-left:9em;padding-right:10em;">
                                
                                        {% if std.gender %}
                                            <img
                                        style="height:150px;width:150px;" src="{{ absolute_url(asset('assets/images/student/female-default-avatar.jpg')) }}" />

                                            {% else %}
                                            <img style="height:150px;width:150px;" src="{{ absolute_url(asset('assets/images/student/male-default-avatar.jpg')) }}" />
                                        {% endif %}
                                
                                </td>

                                <td>
                                    <h3>
                                        <span>
                                            Matricule/reg.number:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                            
                                                                                                                                                                                        
                                                                                                                                                    
                                                                                                                
                                                                            
                                        </span>
                                        {{ std.matricule }}
                                        <br/>
                                    </h3>
                                    <br/>
                                    <h3>
                                        <span>
                                            Classe/class :
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                            
                                                                                                                                                                                        
                                                                                                                                                    
                                                                                                                
                                                                            
                                        </span>
                                        <b>
                                            {{ room.name }}
                                        </b>
                                    </h3>
                                    <br/>
                                <span >   <b>  {{ year.wording   ~   quater.wording }}  </b></span><br/>                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                                        
                                </td>
                            </tr>
                        </table>
                        
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>

                            <table cellspacing="0" align="center" cellpadding="5" border="1" WIDTH="100%" style="line-height:13px;">
                                        <tr height="14" WIDTH="15px" style="background-color:#EBECEC;" border="0.5">
                                            <td border="0.5" style="text-align:center;">
                                            <b>
                                                DISCIPLINES
                                            </b>
                                            </td>
                                            <td border="0.5" style="text-align:center;" >
                                                <b>
                                                    {{ sequences[0].wording|upper }}
                                                </b>
                                            </td>
                                            <td border="0.5" style="text-align:center;" >
                                                <b>
                                                    {{ sequences[1].wording|upper }}
                                                </b>
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                                <b>
                                                    {{ quater.wording|slice(0, 7)|upper }}
                                                </b>
                                            </td>
                                             <td border="0.5" style="text-align:center;">
                                                <b>
                                                    APPREC.
                                            </b>
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                                <b>
                                                    Coef
                                                </b>
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                                <b>
                                                    Note x Coef
                                                </b>
                                            </td>
                                           
                                            <td border="0.5" style="text-align:center;">
                                                <b>
                                                    RANG
                                                </b>
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                                <b>
                                                    PROFESSEUR
                                            </b>
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                                <b>
                                                    SIGNAT.
                                            </b>
                                            </td>
                                        </tr>
                                        {% set totalCoefSeq1 = 0 %}
                                        {# Total global des coefficients seq1#}
                                        {% set totalCoefSeq2 = 0 %}
                                        {# Total global des coefficients seq2#}
                                        {% set totalCoefTrim = 0 %}
                                        {# Total global des coefficients seq2#}

                                        {% set totalNCoefSeq1 = 0 %}
                                        {# Total global des produits Note * coefficient seq1 #}
                                        {% set totalNCoefSeq2 = 0 %}
                                        {# Total global des produits Note * coefficient seq2 #}

                                        {% set totalNCoefTrim = 0 %}
                                        {# Total global des Note * coefficient Trim #}
                                        

                                        {% set moyModSeq1 = 0 %}
                                        {# Moyenne Modulaire seq1  #}
                                        {% set moyModSeq2 = 0 %}
                                        {# Moyenne Modulaire seq2  #}
                                        {% set moyModTrim = 0 %}
                                        {# Moyenne Trimestrielle par module de cours #}

                                        {% for module in room.modules %}
                                            {% set totalCoefModSeq1 = 0 %}
                                            {# Total partiel des coefficients de la seq1 #}
                                            {% set totalNCoefModSeq1 = 0 %}
                                            {# Total partiel des produits Note * coefficient seq1 #}
                                            {% set totalCoefModSeq2 = 0 %}
                                            {# Total partiel des coefficients de la seq2 #}
                                            {% set totalNCoefModSeq2 = 0 %}
                                            {# Total partiel des produits Note * coefficient seq2 #}
                                            {% for course in module.courses %}
                                                {% set break = false %}
                                                {% for mark in data %}
                                                
                                                        {% if module.id == mark.module %}
                                                            {% if mark.crs == course.id  and not break %}
                                                                <tr height="14" border="0.5" style="text-align:center;">
                                                                    <td border="0.5" style="text-align:center;">
                                                                        {{ course.wording }}
                                                                    </td>
                                                                    <td cellspacing="1" border="0.5" style="text-align:center;">
                                                                        {% if mark.weight1!=0 %}
                                                                            {{ mark.value1 |round(2,'floor') }}
                                                                        {% else %}
                                                                            /
                                                                        {% endif %}
                                                                    </td>
                                                                    <td cellspacing="1" border="0.5" style="text-align:center;">
                                                                        {% if mark.weight2!=0 %}
                                                                            {{ mark.value2 |round(2,'floor') }}
                                                                        {% else %}
                                                                            /
                                                                        {% endif %}
                                                                    </td>
                                                                    <td class="appreciation notetrim"  cellspacing="1" border="0.5" style="text-align:center;">
                                                                        {% if mark.weight!=0 %}
                                                                            {{ mark.value |round(2,'floor') }}
                                                                        {% else %}
                                                                            /
                                                                        {% endif %}
                                                                    </td>
                                                                    <td border="0.5" style="text-align:center;"></td>
                                                                    <td cellspacing="1" border="0.5" style="text-align:center;">
                                                                            {{ course.coefficient}}
                                                                    </td>
                                                                    <td cellspacing="1" border="0.5" style="text-align:center;">
                                                                        {% if mark.weight != 0 %}
                                                                            {{ mark.value * course.coefficient |round(2,'floor') }}
                                                                        {% else %}
                                                                            /
                                                                        {% endif %}
                                                                    </td>                  
                                                                    
                                                                    <td border="0.5" style="text-align:center;" cellspacing="1"></td>
                                                                    <td border="0.5" style="text-align:center;">
                                                                        {{ mark.teacher }}
                                                                    </td>
                                                                    <td border="0.5" style="text-align:center;"></td>
                                                                    {% set break = true %}
                                                                    {% set totalCoefModSeq1 = totalCoefModSeq1 + course.coefficient * mark.weight1 %}
                                                                    {% set totalNCoefModSeq1 = totalNCoefModSeq1 +  mark.value1 * course.coefficient * mark.weight1 %}
                                                                    {% set totalCoefModSeq2 = totalCoefModSeq2 + course.coefficient * mark.weight2 %}
                                                                    {% set totalNCoefModSeq2 =  totalNCoefModSeq2 + mark.value2 * course.coefficient * mark.weight2 %}
                                                                    
                                                                </tr>
                                                            {% endif %}
                                                        {% endif %}
                                                
                                                {% endfor %}
                                            {% endfor %}
                                            {% set totalNCoefSeq1 = totalNCoefSeq1 + totalNCoefModSeq1 %}
                                            {% set totalNCoefSeq2 =  totalNCoefSeq2 + totalNCoefModSeq2 %}

                                            {% set totalCoefSeq1 =  totalCoefSeq1 + totalCoefModSeq1 %}
                                            {% set totalCoefSeq2 =  totalCoefSeq2 + totalCoefModSeq2 %}
                                            <tr height="13" border="0.5" style="text-align:center;background-color:#EBECEC;">
                                                <td border="0.5" style="text-align:center;">
                                                    <b>
                                                        {{ module.name }}
                                                    </b>
                                                </td>
                                                <td cellspacing="1" border="0.5" style="text-align:center;">
                                                    <b>
                                                        {% if totalCoefModSeq1 != 0 %}
                                                            {{ ( totalNCoefModSeq1 / totalCoefModSeq1)|round(2,'floor') }}
                                                        
                                                            {% else %}
                                                            /
                                                        {% endif %}
                                                    </b>
                                                </td>
                                                <td cellspacing="1" border="0.5" style="text-align:center;">
                                                    <b>
                                                        {% if totalCoefModSeq2 != 0 %}
                                                        {{ ( totalNCoefModSeq2 / totalCoefModSeq2)|round(2,'floor') }}
                                                    
                                                        {% else %}
                                                        /
                                                    {% endif %}
                                                    </b>
                                                </td>             
                                                    {% if ( totalCoefModSeq1 != 0 and totalCoefModSeq2 != 0 ) %}
                                                        {% set moyModTrim = ((totalNCoefModSeq1 / totalCoefModSeq1 + totalNCoefModSeq2 / totalCoefModSeq2 )/2) %}
                                                    {% else %}
                                                        {% if totalCoefModSeq1 == 0 and totalCoefModSeq2 != 0  %}
                                                            {% set moyModTrim = totalNCoefModSeq2 / totalCoefModSeq2  %}
                                                        {% endif %}
                                                        {% if totalCoefModSeq1 != 0 and totalCoefModSeq2 == 0  %}
                                                            {% set moyModTrim = totalNCoefModSeq1 / totalCoefModSeq1  %}
                                                        {% endif %}
                                                        
                                                        {% if totalCoefModSeq1 == 0 and totalCoefModSeq2 == 0 %}
                                                            {% set moyModTrim = 0 %}
                                                        {% endif %}
                                                    {% endif %}
                                                <td cellspacing="1" border="0.5" class="notetrim" style="text-align:center;">
                                                    <b>
                                                        
                                                        
                                                            {{ ( moyModTrim)|round(2,'floor') }}
                                                    
                                                    </b>
                                                </td>
                                                <td cellspacing="1" border="0.5" style="text-align:center;">
                                                    <b>
                                                        {{ max(totalCoefModSeq1,totalCoefModSeq2) }}
                                                    </b>
                                                </td>
                                                <td cellspacing="1" border="0.5" style="text-align:center;">
                                                    {{ ( moyModTrim * max(totalCoefModSeq1,totalCoefModSeq2))|round(2,'floor') }}
                                                </td>
                                                <td  border="0.5" style="text-align:center;"></td>
                                                <td border="0.5" style="text-align:center;"></td>
                                                <td border="0.5" style="text-align:center;" cellspacing="1"></td>
                                                <td border="0.5" style="text-align:center;" ></td>
                                            </tr>
                                            {% set totalNCoefTrim  = totalNCoefTrim + moyModTrim * max(totalCoefModSeq1,totalCoefModSeq2)%}
                                            {% set totalCoefTrim  = totalCoefTrim + max(totalCoefModSeq1,totalCoefModSeq2) %}

                                        {% endfor %}
                                        <tr height="14" border="0.5" style="text-align:center;background-color:#EBECEC;">
                                            <td border="0.5" style="text-align:center;" width="55">
                                                <b>
                                                    MOY.  ELEVE
                                                                                                                                                                                                                            
                                                                                                                                                                                                                    
                                                                                                                                                                            
                                                                                                                                    
                                                                                            
                                                    <b/>
                                            </td>
                                            </td>
                                            <td border="0.5" style="text-align:center;" width="18">

                                                <i>
                                                    <b>
                                                    {% if totalCoefSeq1 != 0 %}
                                                        {{ (totalNCoefSeq1 / totalCoefSeq1)|round(2,'floor') }}
                                                        /20
                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                    
                                                                                                                                                                                        
                                                                                                                                            
                                                                                                
                                                    {% else %}
                                                        /
                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                    
                                                                                                                                                                                        
                                                                                                                                            
                                                                                                
                                                    {% endif %}
                                                </b>
                                                </i>

                                            </td>
                                            <td border="0.5" style="text-align:center;" width="18">

                                                <i>
                                                    <b>
                                                    {% if totalCoefSeq2 != 0 %}
                                                        {{ (totalNCoefSeq2 / totalCoefSeq2)|round(2,'floor') }}
                                                        /20
                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                    
                                                                                                                                                                                        
                                                                                                                                            
                                                                                                
                                                    {% else %}
                                                        /
                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                    
                                                                                                                                                                                        
                                                                                                                                            
                                                                                                
                                                    {% endif %}
                                                </b>
                                                </i>

                                            </td>
                                        
                                            <td border="0.5" style="text-align:center;" class="noteYear">
                                                <i>
                                                <b>
                                                    {% if ( totalCoefSeq1 != 0 and totalCoefSeq2 != 0 ) %}
                                                        
                                                            {{ ((totalNCoefSeq1 / totalCoefSeq1 + totalNCoefSeq2 / totalCoefSeq2)/2)|round(2,'floor') }}
                                                        
                                                        /20
                                                        {% else %}                                                                                                                                                                                               
                                                        {% if ( totalCoefTrim != 0 ) %}                                                                                                                                                       
                                                            {{ (totalNCoefTrim / totalCoefTrim)|round(2,'floor') }} 
                                                        {% endif %}                                                                                                                               
                                                        /20                                                                                  
                                                                                                
                                                    {% endif %}
                                                </b>
                                                </i>
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                                {{ (  totalCoefTrim )|round(2,'floor') }}
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                            {% if ( totalCoefSeq1 != 0 and totalCoefSeq2 != 0 ) %}
                                                    {{ ( totalNCoefTrim)|round(2,'floor') }}
                                            {% endif %}
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                                <b>
                                                
                                                                                                                                                                                                                            
                                                                                                                                                                                                        
                                                                                                                                                                        
                                                                                                                                
                                                                                        
                                                </b>
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                        
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                        
                                        </td>
                                            <td border="0.5" style="text-align:center;"></td>
                                        </tr>

                                        <tr border="0.5" style="text-align:center;">
                                            <td border="0.5" style="text-align:center;" colspan="7">
                                                <b>
                                                    DECISION ET OBSERVATION  
                                                                                                                                                                                                                            
                                                                                                                                                                                                                
                                                                                                                                                                        
                                                                                                                                
                                                                                        
                                                </td>
                                            </td>
                                            <td border="0.5" style="text-align:center;" rowspan="2" colspan="3">
                                                OBSERVATION ET VISA DU CHEF D'ETABLISSEMENT
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                        </tr>
                                        <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                            <td border="0.5" style="text-align:center;" rowspan="2" colspan="3">
                                                <b>
                                                    DISCIPLINE
                                                                                                                                                                                                                            
                                                                                                                                                                                                                
                                                                                                                                                                        
                                                                                                                                
                                                                                        
                                                </b>
                                            </td>
                                            <td border="0.5" style="text-align:center;" colspan="4">
                                                <b>
                                                    TRAVAIL
                                                                                                                                                                                                                            
                                                                                                                                                                                                                
                                                                                                                                                                        
                                                                                                                                
                                                                                        
                                                </b>
                                            </td>
                                        </tr>
                                        <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                            <td border="0.5" style="text-align:center;">
                                                TBIEN
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                                BIEN
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                                ABIEN
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                                PASS
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;" colspan="4" rowspan="8" style="color:grey;">
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                MBADOUMOU, le  ___________________
                                                                                                                                                                                                        
                                                                                                                                                                                                
                                                                                                                                                            
                                                                                                                        
                                                                                    
                                                <br/>
                                                <br/>
                                                <br/>
                                                LE PRINCIPAL
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                        </tr>
                                        <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                            <td border="0.5" style="text-align:center;" colspan="2">
                                                ABSENCES
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;" width="45"></td>
                                            <td border="0.5" style="text-align:center;">
                                                FAIBLE
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                                INSS
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                                MED
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;">
                                                NUL
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                        </tr>
                                        <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                            <td border="0.5" style="text-align:center;" colspan="2">
                                                RETENUES
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;" width="45"></td>
                                            <td border="0.5" style="text-align:center;" colspan="4">
                                                <b>
                                                    APPRECIATION
                                                                                                                                                                                                                            
                                                                                                                                                                                                                
                                                                                                                                                                        
                                                                                                                                
                                                                                        
                                                </b>
                                            </td>
                                        </tr>
                                        <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                            <td border="0.5" style="text-align:center;" colspan="2">
                                                AVERTISSEMENT
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;" width="45"></td>
                                            <td border="0.5" style="text-align:center;" colspan="3">
                                                TABLEAU D'HONNEUR &nbsp;&nbsp;
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;"></td>

                                        </tr>
                                        <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                            <td border="0.5" style="text-align:center;" colspan="2">
                                                BLAME CONDUITE
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;" width="45"></td>
                                            <td border="0.5" style="text-align:center;" colspan="3">
                                                ENCOURAGEMENT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;"></td>
                                        </tr>
                                        <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                            <td border="0.5" style="text-align:center;" colspan="2">
                                                EXCLUSION
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;" width="45"></td>
                                            <td border="0.5" style="text-align:center;" colspan="3">
                                                FELICITATION &nbsp;&nbsp;&nbsp;&nbsp;
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;"></td>
                                        </tr>
                                        <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                            <td border="0.5" style="text-align:center;" colspan="2">
                                                SIGNATURE DU 
                                                                                                                                                                                                        
                                                                                                                                                                                                
                                                                                                                                                            
                                                                                                                        
                                                                                    
                                                <br/>
                                                <br/>
                                                PARENT
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;" colspan="2">
                                                SIGNATURE DU 
                                                                                                                                                                                                        
                                                                                                                                                                                                
                                                                                                                                                            
                                                                                                                        
                                                                                    
                                                <br/>
                                                <br/>
                                                PROF. PRINC. 
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                            <td border="0.5" style="text-align:center;" colspan="3">
                                                SIGNATURE DU 
                                                                                                                                                                                                        
                                                                                                                                                                                                
                                                                                                                                                            
                                                                                                                        
                                                                                    
                                                <br/>
                                                <br/>
                                                PREFET D'ETUDES
                                                                                                                                                                                                    
                                                                                                                                                                                            
                                                                                                                                                        
                                                                                                                    
                                                                                
                                            </td>
                                        </tr>
                                        <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                            <td border="0.5" style="text-align:center;" colspan="2">
                                                <br/>
                                                <br/>
                                                <br/>
                                            </td>
                                            <td border="0.5" style="text-align:center;" colspan="2">
                                                <br/>
                                                <br/>
                                                <br/>
                                            </td>
                                            <td border="0.5" style="text-align:center;" colspan="3">
                                                <br/>
                                                <br/>
                                                <br/>
                                            </td>
                                        </tr>
                                    
                                
                            

                            </table>

                </section>
            </div>
 
        <script type="text/javascript" src="{{ absolute_url(asset('assets/js/jquery-3.1.1.js'))}}"></script>
        <script type="text/javascript" src="{{ absolute_url(asset('assets/js/repportCard.js'))}}"></script>
    </body>
</html>