{% extends 'layout/backEndLayout.html.twig' %}



{% block content %}
  
    
        <div class="row mt-4">
            <div class="col-1" >
                <a class="btn btn-info" href="{{ path('admin_schoolyears_new') }}">
                    <i class="fa fa-plus"></i> 
                </a>
            </div>
            <div class="col-11 jumbotron" >
                <div class="m-1 box-shadow">
                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal text-center text-justify text-uppercase"> Liste des Annees scolaires configurees </h4>
                    </div>
                    <table  width="100%" class="table table-striped">
                        <thead>
                            <tr>
                                
                                <th>Label</th>
                                  <th>code</th>
                                <th>Debut</th>
                                <th>Fin</th>
                                <th>Prime de bourse</th>
                                <th>Etat</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for schoolyear in schoolyears %}
                                <tr>
                                
                                    <td><a href="{{ path('admin_schoolyears_show', {id: schoolyear.id}) }}">  {{ schoolyear.wording }}<i class="fa fa-eye"></i></a> </td>
                                    <td>{{  schoolyear.code }} </td>
                                    <td>{% if schoolyear.startDate %}{{ schoolyear.startDate|date('Y-m-d') }}{% endif %}</td>
                                    <td>{% if schoolyear.endDate %}{{ schoolyear.endDate|date('Y-m-d') }}{% endif %}</td>
                                    <td>{% if schoolyear.reductionPrime %}{{ schoolyear.reductionPrime }}{% endif %}</td>
                                
                                    <td>{% if schoolyear.activated %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-outline-info" href="{{ path('admin_schoolyears_show', {id: schoolyear.id}) }}">
                                                <i class="fa fa-eye"></i> 
                                            </a>
                                            <a class="btn btn-outline-warning" href="{{ path('admin_schoolyears_edit', {id: schoolyear.id}) }}">
                                                <i class="fa fa-edit"></i> 
                                            </a>
                                            

                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                 </div>
            </div>
            
        </div>
   
{% endblock %}
