{% extends 'layout/frontEndLayout.html.twig' %}

{% block title %}Sign up!{% endblock %}

  {% block stylesheets %}
        	 {{parent()}} 
            <link href="{{ asset('assets/css/login.css') }}" rel="stylesheet">    
            
{% endblock %}

{% block body %}
  

 <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class=" border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img  src="assets/images/logo2.png" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="assets/images/BethesdaLogo.gif" class="image"> </div>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                        {% for flashError in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger text-center rounded m-3" role="alert">{{ flashError.message }}</div>
                        {% endfor %}
                        {%  for error in errors %}
                            <div class="alert alert-info">{{ error.message }}</div>
                        {% endfor %}
                    {{ form_start(registrationForm ) }}
                      
                        <div class="form-floating mb-3">
                            <h6 class="mb-0 text-sm">Email Address</h6>
                           {{ form_widget(registrationForm.email) }}
                            
                           
                        </div>
                      
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        <div class="form-floating mb-3">
                          
                            <div class="row ">
                                <div class="col-lg-6">
                                        <h6 class="mb-0 text-sm">Phone number</h6>
                                         {{ form_widget(registrationForm.phoneNumber) }}
                                        
                                </div>
                                <div class="col-lg-6">
                                         <h6 class="mb-0 text-sm">Agreee terms</h6>
                                         {{ form_widget(registrationForm.agreeTerms) }}
                                         
                                </div>
                            </div>
                          
                        </div>


                         <div class="d-grid mb-2">
                           <div class="row ">
                                <div class="col-lg-6">
                                        {{ form_row(registrationForm.submit) }}
                                </div>
                                <div class="col-lg-6">
                                         <div class="col-sm-6 alert alert-warning text-center" role="alert"> Already have an account? <a  class="alert-link btn" href="{{ path('app_login') }}"> Sign In</a> </div>
                                </div>
                             </div>
                         </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
       
    </div>
</div>

  
{% endblock %}


