{% extends 'layout/backEndLayout.html.twig' %}



{% block content %}
  
        <div class="row mt-4">
            <div class="col-1" >
                <a class="btn btn-info" href="{{ path('admin_quaters_new') }}">
                    <i class="fa fa-plus"></i> <h1>New </h1>
                </a>
            </div>
            <div class="col-11 jumbotron" >
                 <div class="m-1 box-shadow">
                    <div class="card-header">
                         <h4 class="my-0 font-weight-normal text-center text-justify text-uppercase"> Liste des trimestres configures </h4>
                    </div>
                        <table  width="100%" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Annee</th>
                                    <th>Trimestre</th>
                                    
                                    <th>Debut</th>
                                    <th>Fin</th>
                                    

                                
                                    <th>Etat</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for quater in quaters %}
                                    <tr>
                                        <td><a href="{{ path('admin_schoolyears_show', {id: quater.schoolYear.id}) }}">  {{ quater.schoolYear.wording }}<i class="fa fa-eye"></i></a> </td>
                                        <td><a href="{{ path('admin_quaters_show', {id: quater.id}) }}">  {{ quater.wording }}<i class="fa fa-eye"></i></a> </td>
                                    
                                        <td>{% if quater.startDate %}{{ quater.startDate|date('Y-m-d') }}{% endif %}</td>
                                        <td>{% if quater.endDate %}{{ quater.endDate|date('Y-m-d') }}{% endif %}</td>
                                    
                                        <td>{% if quater.activated %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-info btn-sm" href="{{ path('admin_quaters_show', {id: quater.id}) }}">
                                                    <i class="fa fa-eye"></i> {{ 'show'|trans({}, 'admin') }}
                                                </a>
                                                <a class="btn btn-warning btn-sm" href="{{ path('admin_quaters_edit', {id: quater.id}) }}">
                                                    <i class="fa fa-edit"></i> {{ 'edit'|trans({}, 'admin') }}
                                                </a>
                                            

                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                   
            </div>
            
        </div>
   
{% endblock %}
