<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
           Repartition de classes selon les tranches d'ages et leur sexe
                    
        </title>
        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/css/bootstrap.min.css')) }}" />
        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/css/pdf.css')) }}" />
    </head>
    <body>
        <header class="clearfix">
            {{ include('classroom/partials/header.html.twig') }}

            <h1 style=" text-align:center; ">
                <b>
                {% if  (rooms|length > 1) %}
                    Repartition des eleves de l'etablissement selon les tranches d'ages et leur sexe
                    {% else %}
                        {% if(rooms[0].level.cycle.section.name=="Francophone") %}
                            Repartition des eleves de {{rooms[0].name}} selon les tranches d'ages et leur sexe         
                        {% else %}
                            Distribution of students according to their gender                                                                                   
                        {% endif %}
                {% endif %}
                </b>
            </h1>
            
            <div id="companyright">
                <h5>
                    <b>
                        <span>
                        
                            
                            {% if ((rooms|length > 1) or (rooms[0].level.cycle.section.name=="Francophone")) %}
                                ANNEE SCOLAIRE &nbsp;   :
                                                                
                                {{ year }}
                            {% else %}
                                {{ year }}
                                &nbsp; SCHOOL YEAR   :
                                                                                    
                                                            
                            {% endif %}
                        </span>
                    </b>
                </h5>
            </div>
        </header>
        <main>
            <table  class="table">
                <thead>
                    <tr>
                        
                        
                        <td    rowspan="2">
                                <h6>
                                    <span>
                                        <b>
                                          CLASSES 
                                                                                    
                                        </b>
                                    </span>
                                </h6>
                        </td>
                        {% for age in minAge .. maxAge %}
                            <td colspan="3">
                               
                                            <b>
                                                {{age ~ "ans"}}
                                            </b>
                                        
                            </td>
                        {% endfor %}
                        <td rowspan="2">
                            EFFECTIF
                        </td>
                      
                       
                    </tr>
                    <tr>
                        
                        
                        
                        {% for age in minAge .. maxAge %}
                            <td >
                              
                                            <b>
                                               M
                                            </b>
                                       
                            </td>
                              <td >
                              
                                            <b>
                                                F
                                            </b>
                                       
                            </td>
                             <td >
                              
                                            <b>
                                                T
                                            </b>
                                       
                            </td>
                        {% endfor %}
                        
                        
                       
                    </tr>
                </thead>
                <tbody>
                        
                    {% for  index,data in age_group_gender_datas %}
                        <tr>
                            {% set roomTotal = 0 %}
                            <td class="qty">
                                  {{roomNames[index]}}
                            </td>
                            {% for age in minAge .. maxAge %}
                            {% set total = 0 %}
                            <td >
                                        {% for line in data %}
                                            {% if( age == line["age"] and line["sexe"]=="0" ) %}
                                                {{line["poids"]}}  
                                                {% set total = total + line["poids"] %}                 
                                            {% endif %}
                                         {% endfor %}

                            </td>
                            <td >
                                    
                                         {% for line in data %}
                                            {% if( age == line["age"] and line["sexe"]=="1" ) %}
                                                {{line["poids"]}}      
                                                {% set total = total + line["poids"] %}                 
                                            {% endif %}
                                         {% endfor %}
                                
                            </td>
                            <td>
                                {{total}}
                                 {% set roomTotal = roomTotal + total %}
                            </td>
                            {% endfor %}
                           

                            <td>
                                  {{roomTotal}}
                            </td>
                        </tr>
                       
                    {% endfor %}
                   
                </tbody>
            </table>
        </main>
       
    </body>
</html>
