<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
           Repartirion de classes selon les sexes
                    
        </title>
        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/css/bootstrap.min.css')) }}" />
        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/css/pdf.css')) }}" />
    </head>
    <body>
        <header class="clearfix">
            {{ include('classroom/partials/header.html.twig') }}

            <h1 style=" text-align:center; ">
                <b>
                {% if  (rooms|length > 1) %}
                    Repartition des eleves de l'etablissement selon leur sexe
                    {% else %}
                        {% if(rooms[0].level.cycle.section.name=="Francophone") %}
                            Repartition des eleves de {{rooms[0].name}} selon leur sexe             
                        {% else %}
                            Distribution of students according to their gender                                                                                   
                        {% endif %}
                {% endif %}
                </b>
            </h1>
            
            <div id="companyright">
                <h5>
                    <b>
                        <span>
                        
                            
                            {% if ((rooms|length > 1) or (rooms[0].level.cycle.section.name=="Francophone")) %}
                                ANNEE SCOLAIRE &nbsp;   :
                                                                
                                {{ year }}
                            {% else %}
                                {{ year }}
                                &nbsp; SCHOOL YEAR   :
                                                                                    
                                                            
                            {% endif %}
                        </span>
                    </b>
                </h5>
            </div>
        </header>
        <main>
            <table class="table">
                <thead>
                    <tr>
                        {% if (rooms|length > 1)  %}
                        <th style="text-align:center;">
                                <h6>
                                    <span>
                                        <b>
                                          CLASSE                                          
                                        </b>
                                    </span>
                                </h6>
                        </th>                   
                        {% endif %}
                        
                        <th style="text-align:center;">
                                <h6>
                                    <span>
                                        <b>
                                          SEXE 
                                                                                    
                                        </b>
                                    </span>
                                </h6>
                        </th>
                        <th style="text-align:center;">
                            <h6>
                                    <span>
                                        <b>
                                            EFFECTIF
                                        </b>
                                    </span>
                            </h6>
                        </th>
                       
                    </tr>
                </thead>
                <tbody>
                    {% for data in gender_datas %}
                        <tr>
                             {% if (rooms|length > 1)  %}
                                <td class="desc">
                                    <b>
                                        {{ data["room"] }}
                                    </b>
                                </td>
                             {% endif %}
                            <td class="qty">
                                {% if(data["gender"]=="0")%}
                                    MASCULIN
                                {% else %}
                                    FEMININ
                                {% endif %}
                            </td>
                            <td class="desc">
                                <b>
                                    {{data["workforce"] }}
                                </b>
                            </td>
                          
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
       
    </body>
</html>
