{% extends 'layout/backEndLayout.html.twig' %}

{% block content %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    <div class="row mt-4">
        <div class="col-2 ">
            <div class="btn-group record_actions  m-2">
                <a class="btn btn-info" href="{{ path('admin_attributions') }}">
                    <i class="fa fa-list"></i>
                    {{ 'Back to the list'|trans({}, 'admin') }}
                </a>
            </div>
        </div>
        <div class="col-10 jumbotron  mx-auto">
            <div class="col-md-6 mx-auto">
                <article class="text-center">
                    <br/>
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center text-justify text-uppercase">
                            Nouvelle attribution de cours 
                        </h4>
                    </div>
                    {{ include('layout/partials/_form.html.twig',{'submitButtonText':'Create attribution', 'returnRoute':'admin_attributions'}) }}
                </article>
            </div>
        </div>

    {% endblock %}
    {% block javascripts %}
	{{parent()}}
     <script type="text/javascript">
            $('#attribution_course').on('change', function() {
            postData = {
				"course_id":  $(this).val()
			};
            $.ajax({
			type: "POST",
			url: "{{ path('check_main_teacher') }}",
			data: postData,
			datatype: "json",
			success: function (data) {
                if(data.checking){
                        $('#attribution_headTeacher').next().html("Enseignant principal ? <b>(Pas encore de titulaire)</b>");

                }else {
                        $('#attribution_headTeacher').next().html("Enseignant principal ? <b>(Deja un  titulaire)</b>");

                }
			},
			error: function (e) {
				console.log(e.message);
			}
			});

            });

            
           
       </script>
    {% endblock %}
