{% extends 'layout/backEndLayout.html.twig' %}
{% block title %}Présentation de la level - {{ parent() }}{% endblock %}

{% block content %}
   
       
            <div class="row">

                <div class="col-lg-2" >
                        <div class="btn-group record_actions  m-2">
                            <a class="btn btn-info" href="{{ path('admin_levels') }}">
                                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10 jumbotron">
                    <article  class="p-3" >

                            <h1  class="h3  pt-1">   {{level.name}}  </h1> 
						

                            
                            <table class="table table-striped table-hover table-bordered records_list center">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Titulaire</th>
                                        
                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for room in level.rooms %}
                                        <tr>
                                            <td scope="row">{{ loop.index }}</th>
                                            <td>
                                                <a href="{{ path('admin_classrooms_show', {id: room.id}) }}">{{ room.name}}</a>
                                            </td>
                                           
                                            <td>
                                                  {% if room.id in mainTeachersMap|keys %}
                                                    {{  mainTeachersMap[room.id].fullName}}
                                                {% endif %}
                                            </td>
                                        
                                            
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class=" ">			
                        
                                <a class="btn btn-warning" href="{{path('admin_levels_edit', {id: level.id})}}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
Edit </a> |
                                <a class="btn btn-danger" href="#"  onclick= "event.preventDefault() ; confirm('Are you sure ?') && document.getElementById('js-level-delete-form').submit();"> <i class="fa fa-trash"></i> Delete</a>
                                <form id="js-level-delete-form" action="{{path('admin_levels_delete', {id: level.id})}}" method="post" style="display: none;">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token('levels_deletion' ~ level.id ) }}" >
                                    <input type="hidden" name="_method" value="DELETE">

                                </form>
                            </div>
                     </article>
                    
</div>
{% endblock %}
