{% extends "layout/backEndLayout.html.twig" %}

{% block content %}


<select class="form-select" aria-label="Default select example">
  <option selected>Associees a toutes les classes</option>
   {% for room in rooms %}
        <option value={{room.id}}>{{room.name}}</option>
     {% endfor %}
</select>
<div class="row flex-nowrap justify-content-between align-items-center">
  <div class="col-10 pt-1">
    <canvas id="canvas">
    </canvas>
  </div>

</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

    <script>
      let canvas = document.querySelector("canvas");
       const datasets = [];

       const randomRgbColor = () => {
          let r = Math.floor(Math.random() * 256); // Random between 0-255
          let g = Math.floor(Math.random() * 256); // Random between 0-255
          let b = Math.floor(Math.random() * 256); // Random between 0-255
          return 'rgb(' + r + ',' + g + ',' + b + ')';
      };

           {% if masculin is defined %}
              datasets.push( {
                  label: "Masculin",
                  data : {{masculin|raw}},
                  fill : false,
                  backgroundColor: randomRgbColor()
            } )
           {% endif %}
          {% if feminin is defined %}
              datasets.push( {
                  label: "Feminin",
                  data : {{feminin|raw}},
                  fill : false,
                  backgroundColor: randomRgbColor()
            } )
           {% endif %}

       let graph = new Chart(canvas, {
                            type:"bar",
                            data : {
                                labels: {{ roomNames|raw }},
                                datasets: datasets,
                            }, 
                             options: {
                                plugins: {
                                    title: {
                                        display: true,
                                        text: ' Repartition des sexes par classe ',
                                        font: {
                                            size: 24,
                                            style: 'bold',
                                            family: 'Helvetica Neue',
                                        },
                                        position: 'bottom',
                                        
                                    }
                                }
                            }
                        });
    </script>
{% endblock %}
 