<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>About US</h3>
                        </div>
                        <p> Rejoignez nous a travers les reseaux sociaux.</p>   
						<div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="https://www.facebook.com/Complexe-Scolaire-Bethesda-252337526686247"><i class="fa fa-facebook"></i></a></li>
								<!--<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li> -->
							</ul><!-- end links  -->
						</div>						
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="{{ path('app_home')}}">Home</a></li>
                            <li><a href="{{ path('app_staff')}}">Staff</a></li>
                            <li><a href="{{ path('app_login')}}">Login</a></li>
                          
                            {% if  app.user %} 
                                <li>
										<a   onclick= "event.preventDefault(); document.getElementById('js-logout-form').submit();"  >Logout</a>
										<form id="js-logout-form" action="{{ path('app_logout') }}" style="dislay:none;" method="POST" >
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('logout')}}"/>
											
										</form>
								 </li>
							{% endif  %} 
                           
							<li><a href="{{ path('app_contact')}}">Contact</a></li>

                           
							
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact de l'équipe de développeurs</h3>
                        </div>

                        <ul class="footer-links">
                            <!--<li><a href="mailto:#">info@yoursite.com</a></li>-->
                            <li>Cliquez <a target="_blank" href="https://www.linkedin.com/in/polyinformatique-group-b235062a0/"> <b>ici</b></a> pour parcourir la <a target="_blank" href="https://www.linkedin.com/in/ars%C3%A8ne-fokam-poka-045467a0/"> <b>page LinkedIn</b> de l'equipe</a></li>
                            
                            <li>+1(450) 626-7192</li>
                            <li>polyinformatique7@gmail.com</li>
                            <li>2-145 Regent Steet, Sudbury,  ON</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">
                        <small>
                                    &copy;  {{ 'now'|date('Y') }} &middot;
                                    Built with <span class="text-danger"> &hearts; </span>   by <a target="_blank" href="https://www.linkedin.com/in/polyinformatique-group-b235062a0/"> Polyinformatique group</a></p>
                        </small>
                    </p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius" ><i class="fa fa-angle-up"></i></a>