<table cellspacing="0" align="center" style="line-height:14px; ">
                <tr>
                    <td style="text-align:center; ">
                        <span>
                                REPUBLIQUE DU CAMEROUN
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:1.5em;">
                            <i>
                                Paix - Travail - Patrie
                           </i>
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                        </span>
                        <br/>
                        <br/>
                        <span>
                            Minist&eacutere des enseignements secondaires
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                         </span>
                        <br/>
                        <br/>
                        <span>
                            {{get_env("DELEGATION_REGIONALE")|raw }}                                                                                                                                                                                                                                                               
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                        </span>
                        <br/>
                        <br/>
                        <span>
                            D&eacutel&eacutegation D&eacutepartementale de
                             <br/>
                            <br/>
                           {{get_env("DELEGATION_DEPARTEMENTATLE")|raw }}                                                                                                                                                                                                                                         
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2em;">
                           Bp :    {{get_env("POSTAL_BOX")|raw }}                                                                                                                                                                                                                                                                                                                                                                                                                                                 
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2em;">
                            Tel :     {{get_env("CONTACT")|raw }}                                                                                                                                                                                                                                
                        </span>
                        <br/>
                        <br/>
                    </td>
                    <td style="text-align:center; padding:20px ">
                        <img src="{{ absolute_url(asset(get_env('LOGO_PATH'))) }}" width="100%" />
                        <div style="margin-bottom:0.2em;margin-left:1em; font-size: 0.75em;">
                            <i>
                                   {{get_env("FRENCH_SLOGAN")|raw }}    
                            </i>
                        </td>
                    </td>
                    <td style="text-align:center; padding-left:20px; padding-right:20px ">
                        <span>
                            REPUBLIC OF CAMEROON
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:1em;">
                            <i>
                                Peace - Work - Fatherland                                                                                                                                                                                                                                                                          
                          </i>
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                        </span>
                        <br/>
                        <br/>
                        <span>
                            Ministery of Secondary Education                                                                                                                                                                                                       
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                        </span>
                        <br/>
                        <br/>
                        <span>
                                {{get_env("REGIONAL_DELEGATION")|raw }}   
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                        </span>
                        <br/>
                        <br/>
                        <span>
                             {{get_env("DIVISIONAL_DELEGATION")|raw }}   
                          <br/>
                            <br/>
                            <span style="margin-left:4em;">
                                Divisional Delegation
                          </span>
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                      </span>
                        <br/>
                        <br/>
                        <span style="margin-left:3em;">
                            BP :   {{get_env("POSTAL_BOX")|raw }}   
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:3em;">
                            Tel :  {{get_env("CONTACT")|raw }}   
                       </span>
                        <br/>
                        <br/>
                    </td>
                </tr>
</table>