<table cellspacing="0" align="center" style=" width: 100%; text-align:center; font-size: 1.4em; ">
                <tr >
                    <td style=" width: 35%; ">
                            <span>
                                REPUBLIQUE DU CAMEROUN
                           </span>
                            <br/>
                            <span style="margin-left:1.5em;">
                                <i>
                                    Paix - Travail - Patrie
                                </i>
                            </span>
                            <br/>
                            <span style="margin-left:2.5em;">
                                *************
                            </span>
                        <br/>
                        <span>
                            Minist&eacutere des enseignements secondaires
                                                         
                        </span>
                        <br/>
                        <span style="margin-left:2.5em;">
                        *************
                                                  
                        </span>
                        <br/>
                        <span>
                              {{get_env("DELEGATION_REGIONALE")|raw }}  
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                            </span>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                                                            
                        </span>
                        <br/>
                        <span>
                            D&eacutel&eacutegation D&eacutepartementale de la		 {{get_env("DELEGATION_DEPARTEMENTATLE")|raw|title  }}    
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                        </span>
                         <br/>
                                    <span style="margin-left:2.5em;">
                                        *************
                                      </span>
                        <H4>
                            {{get_env("FRENCH_SCHOOL_NAME")|raw|title }}
                        </H4>

                    </td>
                    <td style=" width: 30%; ">
                                    <img style="border-radius:5%;" src="{{ absolute_url(asset(get_env('LOGO_PATH'))) }}" height="125px" />

                                        <div style="font-size: 1em;">
                                            <b>
                                                <h6>
                                                    {{get_env("FRENCH_SLOGAN")|raw }}    
                                                </h6>
                                            </b>
                                            <br/>
                                            <br/>
                                            <i>
                                                <span>
                                                    BP :  {{get_env("POSTAL_BOX")|raw }}      
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
                                                  </span>
                                                <br/>
                                                <span>
                                                    TEL :  {{get_env("CONTACT")|raw }}  
                                                   </span>
                                                <br/>
                                            </i>
                                        </b>
                    </td>
                    <td style=" width: 35%;">
                                    <span>
                                        REPUBLIC OF CAMEROON                                                               
                                    </span>
                                    <br/>
                                    <span style="margin-left:1em;">
                                        <i>
                                            Peace - Work - Fatherland
                                         </i>
                                    </span>
                                    <br/>
                                    <span style="margin-left:2.5em;">
                                        *************
                                     </span>
                                    <br/>
                                    <span>
                                        Ministery of Secondary Education
                                    </span>
                                    <br/>
                                    <span style="margin-left:2.5em;">
                                        *************
                                    </span>
                                    <br/>
                                    <span>
                                        {{get_env("REGIONAL_DELEGATION")|raw }}   
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                                                                          
                                    </span>
                                    <br/>
                                    <span style="margin-left:2.5em;">
                                        *************
                                      </span>
                                    <br/>
                                    <span>
                                        {{get_env("DIVISIONAL_DELEGATION")|raw }}   Divisional Delegation
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
                                     </span>
                                    <br/>
                                    <span style="margin-left:2.5em;">
                                        *************
                                      </span>
                                    <H4>
                                       {{get_env("ENGLISH_SCHOOL_NAME")|raw|title }}        
                                    </H4>
                    </td>
                </tr>
</table>
 <br/>
                        <br/>