<!DOCTYPE html>
<html>

    <head>
        <link rel="icon" type="image/ico" href="{{ absolute_url(asset('favicon.jpg')) }}" {# href="{{ asset('favicon.jpg')}}"#} />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style>
                @page {
                size: A4;
                margin: 0;
            }

            .bulletin {
                width: 210mm; /* Largeur de la page A4 */
                height: 297mm; /* Hauteur de la page A4 */
                page-break-after: always; /* Forcer le saut de page après chaque bulletin */
            }
        </style>
        <title>
            {% if room.level.cycle.section.name == "Francophone" %}
                Bulletins annuel
                                                                                
                                                                                
                                                                                        
                                                                            
                                                            
                                            
                            
            {% else %}
               Annual report card
                                                                                
                                                                                
                                                                                        
                                                                            
                                                            
                                            
                            
            {% endif %}
            {{ room.name }}
        </title>
    </head>
    <body>

        {% for std in students %}
            <page size="A4" style=" margin:auto; border: 1px solid black; border-collapse: collapse;" class="bulletin" >

                    {{ include('classroom/partials/reportcard_header.html.twig') }}
                    <hr style="margin-left:0px" width="1135" />
                   
                    <table cellspacing="0" cellpadding="5" style="line-height:13px;">
                      <caption  style=" margin:auto; text-align:center;text-transform:  uppercase;">
                            <h3>
                              {% if room.level.cycle.section.name == "Francophone" %}
                                BULLETIN ANNUEL
                                                                                                
                                                                                                
                                                                                                        
                                                                                            
                                                                            
                                                            
                                            
                            {% else %}
                            ANNUAL REPPORT CARD
                                                                                                
                                                                                                
                                                                                                        
                                                                                            
                                                                            
                                                            
                                            
                            {% endif %}
                             </h3>
                      </caption>
                        <tr>
                            <td style=" width: 35%;">
                                <h3>
                                    <br/>
                                        Nom/Name : 
                                                                                                                                                                                                                                    
                                                                                                                                                                                                    
                                                                                                                                                            
                                                                                                                    
                                                                            
                                    </span>
                                    <b>
                                        <span width="240px">
                                        {{ std.lastname }}
                                        </span>
                                        <br/>
                                        <br/>
                                    </b>
                                        <br/>
                                        {{ std.firstname }}
                                    </b>
                                </h3>
                                <br/>
                                <br/>
                                <h3>
                                    <span>
                                        N&eacute(e) le/Born on :
                                                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                
                                                                                                                        
                                                                                
                                        {% if std.birthday %}
                                            {{ std.birthday|date('Y-m-d') }}
                                        {% endif %}
                                        &agrave;/ at :
                                                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                
                                                                                                                        
                                                                                
                                        <br/>
                                        <br/>
                                        {{ std.birthplace }}
                                    </span>
                                    <br/>
                                </h3>

                                <h3>
                                    <span>
                                        Sexe: 
                                                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                
                                                                                                                        
                                                                                
                                        {% if std.gender %}
                                            FEMININ
                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                        
                                                                                                                                                                            
                                                                                                                                
                                                                                    
                                        {% else %}
                                            MASCULIN 
                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                        
                                                                                                                                                                            
                                                                                                                                
                                                                                    
                                        {% endif %}
                                    </span>
                                    <br/>
                                </h3>
                            </td>
                             <td style=" width: 30%;">
                                  {% if(fileExists[ std.id ])%}
                                              {% set imagePath = absolute_url(asset('assets/images/student/'~ std.imageName )) %}
                                            {% else %}
                                                {% if std.gender %}
                                                            {% set imagePath = absolute_url(asset('assets/images/student/female-default-avatar.jpg')) %}
                                                    {% else %}
                                                           {% set imagePath = absolute_url(asset('assets/images/student/male-default-avatar.jpg')) %}
                                                {% endif %}
                                {% endif %}
                                <img  style="height:150px;width:150px;"  src={{ imagePath }} />
                            </td>
                            <td style=" width: 35%;">
                                <h3>
                                    <span>
                                        Matricule/Reg.number:
                                                                            
                                                                            
                                    </span>

                                    <br/> 
                                    <br/>
                                    {{ std.matricule }}
                                    <br/>
                                    <br/>
                                    <span>
                                        Annee/Year:
                                                                            
                                                                            
                                    </span>

                                    {{ year.wording }}
                                    <br/>
                                    <br/>
                                </h3>
                                <br/>
                                <h3>
                                    <span>
                                        Classe/class :
                                                                                                                                                                                                                                    
                                                                                                                                                                                                    
                                                                                                                                                            
                                                                                                                    
                                                                            
                                    </span>
                                    <br/>
                                    <br/>
                                    <b>
                                        {{ room.name }}
                                    </b>
                                </h3>
                                <br/>
                                                                                                                                            
                                                                                                                                 
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <table cellspacing="0" align="center" cellpadding="5" border="1" WIDTH="98%" style="line-height: {{ lineHeight }}em;">
                        <tr height="13px" WIDTH="15px" style="background-color:#EBECEC;" border="0.5">
                            <td border="0.5" style="text-align:center;">
                                <b>
                                    DISCIPLINE
                                                                                                                                                                                                            
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </b>
                            </td>
                            <td border="0.5" style="text-align:center;" width="75">
                                <b>
                                    TRIM-1
                                                                                                                                                                                                            
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </b>
                            </td>
                            <td border="0.5" style="text-align:center;" width="75">
                                <b>
                                    TRIM-2
                                                                                                                                                                                                            
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </b>
                            </td>
                            <td border="0.5" style="text-align:center;" width="75">
                                <b>
                                    TRIM-3
                                                                                                                                                                                                            
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </b>
                            </td>
                            <td border="0.5" style="text-align:center;" width="80">
                                <b>
                                    Note Ann.
                                                                                                                                                                                                            
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </b>
                            </td>
                            <td border="0.5" style="text-align:center;" width="30">
                                <b>
                                    Coef
                                                                                                                                                                                                            
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </b>
                            </td>
                            <td border="0.5" style="text-align:center;" width="70">
                                <b>
                                    Note x Coef
                                                                                                                                                                                                            
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </b>
                            </td>
                            <td border="0.5" style="text-align:center;" width="160">
                                <b>
                                    APPRECIATION
                                                                                                                                                                                                            
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </b>
                            </td>
                            <td border="0.5" style="text-align:center;"  width="75">
                                <b>
                                    RANG
                                                                                                                                                                                                            
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </b>
                            </td>
                            <td border="0.5" style="text-align:center;" width="160">
                                <b>
                                    PROFESSEUR
                                                                                                                                                                                                            
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </b>
                            </td>
                            <td border="0.5" style="text-align:center;">
                                <b>
                                    SIGNATURE
                                                                                                                                                                                                            
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </b>
                            </td>
                        </tr>
                        {% set totalCoefTrim1 = 0 %}
                        {# Total global des coefficients trim1 #}
                        {% set totalCoefTrim2 = 0 %}
                        {# Total global des coefficients trim2 #}
                        {% set totalCoefTrim3 = 0 %}
                        {# Total global des coefficients trim3 #}

                        {% set totalNCoefTrim1 = 0 %}
                        {# Total global des Note * coefficient trim1 #}
                        {% set totalNCoefTrim2 = 0 %}
                        {# Total global des Note * coefficient trim2 #}
                        {% set totalNCoefTrim3 = 0 %}
                        {# Total global des Note * coefficient trim3 #}

                        {% set totalNCoefAnn = 0 %}
                        {# Total global des Note * coefficient Annuel #}
                        {% set moyModAnn = 0 %}
                        {# Moyenne annuelle par module de cours #}

                        {% set moyModTrim1 = 0 %}
                        {# Moyenne Modulaire trimestre 1  #}
                        {% set moyModTrim2 = 0 %}
                        {# Moyenne Modulaire trimestre 2  #}
                        {% set moyModTrim3 = 0 %}
                        {# Moyenne Modulaire trimestre 3  #}

                        {% for module in room.modules %}
                            {% set totalCoefModTrim1 = 0 %}
                            {# Total partiel des coefficients du trim1 #}
                            {% set NCoefModTrim1 = 0 %}
                            {# Total partiel des Note * coefficient trim1 #}
                            {% set totalCoefModTrim2 = 0 %}
                            {# Total partiel des coefficients du trim2 #}
                            {% set NCoefModTrim2 = 0 %}
                            {# Total partiel des Note * coefficient trim2 #}
                            {% set totalCoefModTrim3 = 0 %}
                            {# Total partiel des coefficients du trim3 #}
                            {% set NCoefModTrim3 = 0 %}
                            {# Total partiel des Note * coefficient trim3 #}

                            {% for course in module.courses %}
                                {% set break = false %}
                                {% for mark in data %}
                                    {% if std.matricule == mark.matricule %}
                                        {% if module.name == mark.module %}
                                            {% if mark.course == course.wording  and not break %}
                                                <tr height="13" border="0.5" style="text-align:center;">
                                                    <td border="0.5" style="text-align:center;">
                                                        {{ course.wording }}
                                                    </td>
                                                    <td cellspacing="1" border="0.5" style="text-align:center;">
                                                        {% if mark.weight1!=0 %}
                                                            {{ mark.value1 |round(2,'floor') }}
                                                        {% else %}
                                                            /
                                                        {% endif %}
                                                    </td>
                                                    <td cellspacing="1" border="0.5" style="text-align:center;">
                                                        {% if mark.weight2!=0 %}
                                                            {{ mark.value2 |round(2,'floor') }}
                                                        {% else %}
                                                            /
                                                        {% endif %}
                                                    </td>
                                                    <td cellspacing="1" border="0.5" style="text-align:center;">
                                                        {% if mark.weight3 != 0 %}
                                                            {{ mark.value3|round(2,'floor') }}
                                                        {% else %}
                                                            /
                                                        {% endif %}
                                                    </td>
                                                    {% set markAnn = false %}
                                                    <td cellspacing="1" border="0.5" style="text-align:center;" class="noteYear">
                                                        {% if (mark.weight1 + mark.weight2 + mark.weight3 != 0) %}
                                                            {{ (( mark.value1 * mark.weight1 + mark.value2 * mark.weight2 + mark.value3 * mark.weight3 )/(mark.weight1 + mark.weight2 + mark.weight3))|round(2,'floor') }}
                                                        {% else %}
                                                            /
                                                        {% endif %}
                                                    </td>

                                                    <td cellspacing="1" border="0.5" style="text-align:center;">

                                                            {{ max(mark.weight1 ,mark.weight2 ,mark.weight3) * course.coefficient }}
                                                      
                                                    </td>

                                                    <td cellspacing="1" border="0.5" style="text-align:center;">
                                                        {% if (mark.weight1 + mark.weight2 + mark.weight3 !=0) %}
                                                            {{ ((mark.value1 * mark.weight1  + mark.value2 * mark.weight2 + mark.value3 * mark.weight3) * course.coefficient /(mark.weight1 + mark.weight2 + mark.weight3))|round(2,'floor') }}
                                                        {% else %}
                                                            0
                                                        {% endif %}
                                                    </td>
                                                    <td border="0.5" style="text-align:center;"></td>
                                                    <td border="0.5" style="text-align:center;" cellspacing="1"></td>
                                                    <td border="0.5" style="text-align:center;">
                                                        {{ mark.teacher }}
                                                    </td>
                                                    <td border="0.5" style="text-align:center;"></td>
                                                    {% set break = true %}
                                                    {% set totalCoefModTrim1 = totalCoefModTrim1 + course.coefficient * mark.weight1 %}
                                                    {% set NCoefModTrim1 = NCoefModTrim1 +  mark.value1 * course.coefficient * mark.weight1 %}
                                                    {% set totalCoefModTrim2 = totalCoefModTrim2 + course.coefficient * mark.weight2 %}
                                                    {% set NCoefModTrim2 =  NCoefModTrim2 + mark.value2 * course.coefficient * mark.weight2 %}
                                                    {% set totalCoefModTrim3 = totalCoefModTrim3 + course.coefficient * mark.weight3 %}
                                                    {% set NCoefModTrim3 =  NCoefModTrim3 + mark.value3 * course.coefficient * mark.weight3 %}
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                            {% endfor %}

                            {% set totalNCoefTrim1 = totalNCoefTrim1 + NCoefModTrim1 %}
                            {% set totalNCoefTrim2 =  totalNCoefTrim2 + NCoefModTrim2 %}
                            {% set totalNCoefTrim3 = totalNCoefTrim3 + NCoefModTrim3 %}

                            {% set totalCoefTrim1 =  totalCoefTrim1 + totalCoefModTrim1 %}
                            {% set totalCoefTrim2 =  totalCoefTrim2 + totalCoefModTrim2 %}
                            {% set totalCoefTrim3 =  totalCoefTrim3 + totalCoefModTrim3 %}
                            <tr height="14" border="0.5" style="text-align:center;background-color:#EBECEC;">
                                <td border="0.5" style="text-align:center;">
                                    <b>
                                        {{ module.name }}
                                    </b>
                                </td>
                                <td cellspacing="1" border="0.5" style="text-align:center;">
                                    <b>
                                        {% if totalCoefModTrim1 != 0 %}
                                            {{ ( NCoefModTrim1 / totalCoefModTrim1)|round(2,'floor') }}
                                            
                                                 {% else %}
                                            /
                                         {% endif %}
                                    </b>
                                </td>
                                <td cellspacing="1" border="0.5" style="text-align:center;">
                                    <b>
                                        {% if totalCoefModTrim2 != 0 %}
                                            {{ (NCoefModTrim2 / totalCoefModTrim2)|round(2,'floor') }}
                                            /20 
                                                {% else %}
                                            /
                                        {% endif %}
                                    </b>
                                </td>

                                <td cellspacing="1" border="0.5" style="text-align:center;">
                                    <b>
                                        {% if totalCoefModTrim3 != 0 %}
                                            {{ (NCoefModTrim3 / totalCoefModTrim3)|round(2,'floor') }}
                                            /20 
                                             {% else %}
                                            /
                                       {% endif %}
                                    </b>
                                </td>
                                    {% if ( totalCoefModTrim1 != 0 and totalCoefModTrim2 != 0 and totalCoefModTrim3 != 0) %}
                                        {% set moyModAnn = (( NCoefModTrim1 / totalCoefModTrim1 + NCoefModTrim2 / totalCoefModTrim2 + NCoefModTrim3 / totalCoefModTrim3)/3) %}
                                    {% else %}
                                        {% if totalCoefModTrim1 == 0 and totalCoefModTrim2 != 0 and totalCoefModTrim3 != 0 %}
                                            {% set moyModAnn = (( NCoefModTrim2 / totalCoefModTrim2 + NCoefModTrim3 / totalCoefModTrim3)/2) %}
                                        {% endif %}
                                        {% if totalCoefModTrim1 != 0 and totalCoefModTrim2 == 0 and totalCoefModTrim3 != 0 %}
                                            {% set moyModAnn = (( NCoefModTrim1 / totalCoefModTrim1 + NCoefModTrim3 / totalCoefModTrim3)/2) %}
                                        {% endif %}
                                        {% if totalCoefModTrim1 != 0 and totalCoefModTrim2 != 0 and totalCoefModTrim3 == 0 %}
                                            {% set moyModAnn = (( NCoefModTrim2 / totalCoefModTrim2 + NCoefModTrim1 / totalCoefModTrim1)/2) %}
                                        {% endif %}
                                        {% if totalCoefModTrim1 == 0 and totalCoefModTrim2 == 0 and totalCoefModTrim3 != 0 %}
                                            {% set moyModAnn = (( NCoefModTrim3 / totalCoefModTrim3)) %}
                                        {% endif %}
                                        {% if totalCoefModTrim1 != 0 and totalCoefModTrim2 == 0 and totalCoefModTrim3 == 0 %}
                                            {% set moyModAnn = (( NCoefModTrim1 / totalCoefModTrim1)) %}
                                        {% endif %}
                                        {% if totalCoefModTrim1 == 0 and totalCoefModTrim2 != 0 and totalCoefModTrim3 == 0 %}
                                            {% set moyModAnn = (( NCoefModTrim2 / totalCoefModTrim2)) %}
                                        {% endif %}
                                    {% endif %}
                                <td cellspacing="1" border="0.5" class="noteYear" style="text-align:center;">
                                    <b>
                                        {% if moyModAnn == 0 %}
                                            /
                                                                                      
                                        {% else %}
                                            {{ ( moyModAnn)|round(2,'floor') }}
                                             
                                                                                                                                                                                                                            
                                                                                         
                                        {% endif %}
                                    </b>
                                </td>
                                <td cellspacing="1" border="0.5" style="text-align:center;">
                                    <b>

                                    </b>
                                </td>
                                <td cellspacing="1" border="0.5" style="text-align:center;">
                                    <b>
                                        {% if ( totalCoefTrim1 != 0 and totalCoefTrim2 != 0 and totalCoefTrim3 != 0) %}
                                            {# On suppose que même les eleve venus au cours de l'année on au moins asistés au évaluation de troisieme trimestre 
                                                {{ (((NCoefModTrim1/totalCoefTrim1 + NCoefModTrim2/totalCoefTrim2 + NCoefModTrim3/totalCoefTrim3)/3)*totalCoefModTrim2)|round(2,'floor')}}  #}
                                        {% else %}
                                              /
                                        {% endif %}
                                            {# {{ (moyModAnn*totalCoefModTrim1)|round(2,'floor') }} #}
                                    </b>
                                </td>
                                <td border="0.5" style="text-align:center;"></td>
                                <td border="0.5" style="text-align:center;"></td>
                                <td border="0.5" style="text-align:center;" cellspacing="1"></td>
                                <td border="0.5" style="text-align:center;" ></td>
                                   {#On suppose que même les eleve venus au cours de l'année on au moins asistés au évaluation de troisieme trimestre #}
                                {% set totalNCoefAnn  = moyModAnn * totalCoefModTrim2 %}
                            </tr>
                        {% endfor %}   
                            <tr height="14" border="0.5" style="text-align:center;background-color:#EBECEC;">
                                <td border="0.5" style="text-align:center;" width="55">
                                    <b>
                                        MOY.  ELEVE
                                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                
                                                                                                                        
                                                                                
                                        <br/>
                                    </td>
                                </td>
                                <td border="0.5" style="text-align:center;" width="18">

                                    <i>
                                        {% if totalCoefTrim1 != 0 %}
                                    <b> {{ (totalNCoefTrim1 / totalCoefTrim1)|round(2,'floor') }} </b>
                                            
                                                                                                                                                                                                                            
                                                                                                                                                                                                                                            
                                                                                                                                                                                                                        
                                                                                                                                                                            
                                                                                                                                
                                                                                    
                                        {% else %}
                                            /
                                                                                                                                                                                                                            
                                                                                                                                                                                                                                            
                                                                                                                                                                                                                        
                                                                                                                                                                            
                                                                                                                                
                                                                                    
                                        {% endif %}
                                    </i>

                                </td>
                                <td border="0.5" style="text-align:center;" width="18">

                                    <i>
                                        {% if totalCoefTrim2 != 0 %}
                                        <b>  {{ (totalNCoefTrim2 / totalCoefTrim2)|round(2,'floor') }} </b>
                                            
                                                                                                                                                                                                                            
                                                                                                                                                                                                                                            
                                                                                                                                                                                                                        
                                                                                                                                                                            
                                                                                                                                
                                                                                    
                                        {% else %}
                                            /
                                                                                                                                                                                                                            
                                                                                                                                                                                                                                            
                                                                                                                                                                                                                        
                                                                                                                                                                            
                                                                                                                                
                                                                                    
                                        {% endif %}
                                    </i>

                                </td>
                                <td border="0.5" style="text-align:center;" width="18">

                                    <i>
                                        {% if totalCoefTrim3 != 0 %}
                                        <b> {{ (totalNCoefTrim3 / totalCoefTrim3)|round(2,'floor') }} </b>
                                            
                                                                                                                                                                                                                            
                                                                                                                                                                                                                                            
                                                                                                                                                                                                                        
                                                                                                                                                                            
                                                                                                                                
                                                                                    
                                        {% else %}
                                            /
                                                                                                                                                                                                                            
                                                                                                                                                                                                                                            
                                                                                                                                                                                                                        
                                                                                                                                                                            
                                                                                                                                
                                                                                    
                                        {% endif %}
                                    </i>

                                </td>
                                <td border="0.5" style="text-align:center;" class="noteYear">
                                    <i>
                                        {% if ( totalCoefTrim1 != 0 and totalCoefTrim2 != 0 and totalCoefTrim3 != 0) %}
                                            <b>
                                                {{ ((totalNCoefTrim1 / totalCoefTrim1 + totalNCoefTrim2 / totalCoefTrim2 + totalNCoefTrim3 / totalCoefTrim3)/3)|round(2,'floor') }}
                                            </b>
                                            
                                                                                                                                                                                                                                          
                                                                                                                                                                                                                        
                                                                                                                                                                            
                                                                                                                                
                                                                                    
                                        {% endif %}
                                    </i>
                                </td>
                                <td border="0.5" style="text-align:center;">
                                    {{ ( ( totalCoefTrim1 + totalCoefTrim2 + totalCoefTrim3)/3)|round(2,'floor') }}
                                </td>
                                <td border="0.5" style="text-align:center;"></td>
                                <td border="0.5" style="text-align:center;">
                                <b>
                                  {% if ( std.id in means|keys ) %}
                                    {{ (  means[std.id] )|round(2,'floor') }} /20
                                  {% endif %}                                                                                                                                                                          
                                                                                                                                                                                                                       
                                </b>
                            </td>
                            <td border="0.5" style="text-align:center;">
                             {% if ( std.id in ranks|keys ) %}
                                {{ ranks[std.id] }}  /   {{ ranks|length }} 
                             {% endif %}   
                            </td>
                            <td border="0.5" style="text-align:center;">
                            Moy. gen. {{ (  genMean )|round(2,'floor') }}
                            </td>
                            <td border="0.5" style="text-align:center;"></td>
                            </tr>

                            <tr border="0.5" style="text-align:center;">
                                <td border="0.5" style="text-align:center;" colspan="7">
                                    <b>
                                        DECISION ET OBSERVATION  
                                                                                                                                                                                                                
                                                                                                                                                                                                    
                                                                                                                                                            
                                                                                                                    
                                                                            
                                    </td>
                                </td>
                                <td border="0.5" style="text-align:center;" rowspan="2" colspan="4">
                                    OBSERVATION ET VISA DU CHEF D'ETABLISSEMENT
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                            </tr>
                            <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                <td border="0.5" style="text-align:center;" rowspan="2" colspan="3">
                                    <b>
                                        DISCIPLINE
                                                                                                                                                                                                                
                                                                                                                                                                                                    
                                                                                                                                                            
                                                                                                                    
                                                                            
                                    </b>
                                </td>
                                <td border="0.5" style="text-align:center;" colspan="4">
                                    <b>
                                        TRAVAIL
                                                                                                                                                                                                                
                                                                                                                                                                                                    
                                                                                                                                                            
                                                                                                                    
                                                                            
                                    </b>
                                </td>
                            </tr>
                            <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                <td border="0.5" style="text-align:center;">
                                    TBIEN
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;">
                                    BIEN
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;">
                                    ABIEN
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;">
                                    PASS
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;" colspan="4" rowspan="8" style="color:grey;">
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    MBADOUMOU, le  ___________________
                                                                                                                                                                                            
                                                                                                                                                                                    
                                                                                                                                                
                                                                                                            
                                                                        
                                    <br/>
                                    <br/>
                                    <br/>
                                    LE PRINCIPAL
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                            </tr>
                            <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                <td border="0.5" style="text-align:center;" colspan="2">
                                    ABSENCES
                                                                                                                                                                                                                         
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;" width="45">
                                    {% if std.id in abscences|keys %}
                                        {{ abscences[std.id] }} 
                                      {% endif %}
                                </td>
                                <td border="0.5" style="text-align:center;">
                                    FAIBLE
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;">
                                    INSS
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;">
                                    MED
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;">
                                    NUL
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                            </tr>
                            <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                <td border="0.5" style="text-align:center;" colspan="2">
                                    RETENUES
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;" width="45"></td>
                                <td border="0.5" style="text-align:center;" colspan="4">
                                    <b>
                                        APPRECIATION
                                                                                                                                                                                                                
                                                                                                                                                                                                    
                                                                                                                                                            
                                                                                                                    
                                                                            
                                    </b>
                                </td>
                            </tr>
                            <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                <td border="0.5" style="text-align:center;" colspan="2">
                                    AVERTISSEMENT
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;" width="45"></td>
                                <td border="0.5" style="text-align:center;" colspan="3">
                                    TABLEAU D'HONNEUR &nbsp;&nbsp;
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;"></td>

                            </tr>
                            <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                <td border="0.5" style="text-align:center;" colspan="2">
                                    BLAME CONDUITE
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;" width="45"></td>
                                <td border="0.5" style="text-align:center;" colspan="3">
                                    ENCOURAGEMENT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;"></td>
                            </tr>
                            <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                <td border="0.5" style="text-align:center;" colspan="2">
                                    EXCLUSION
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;" width="45"></td>
                                <td border="0.5" style="text-align:center;" colspan="3">
                                    FELICITATION &nbsp;&nbsp;&nbsp;&nbsp;
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;"></td>
                            </tr>
                            <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                <td border="0.5" style="text-align:center;" colspan="2">
                                    SIGNATURE DU 
                                                                                                                                                                                            
                                                                                                                                                                                    
                                                                                                                                                
                                                                                                            
                                                                        
                                    <br/>
                                    <br/>
                                    PARENT
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;" colspan="2">
                                    SIGNATURE DU 
                                                                                                                                                                                            
                                                                                                                                                                                    
                                                                                                                                                
                                                                                                            
                                                                        
                                    <br/>
                                    <br/>
                                    PROF. PRINC. 
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                                <td border="0.5" style="text-align:center;" colspan="3">
                                    SIGNATURE DU 
                                                                                                                                                                                            
                                                                                                                                                                                    
                                                                                                                                                
                                                                                                            
                                                                        
                                    <br/>
                                    <br/>
                                    PREFET D'ETUDES
                                                                                                                                                                                        
                                                                                                                                                                                
                                                                                                                                            
                                                                                                        
                                                                    
                                </td>
                            </tr>
                            <tr border="0.5" style="text-align:center;background-color:#EBECEC;">
                                <td border="0.5" style="text-align:center;" colspan="2">
                                    <br/>
                                    <br/>
                                    <br/>
                                </td>
                                <td border="0.5" style="text-align:center;" colspan="2">
                                    <br/>
                                    <br/>
                                    <br/>
                                </td>
                                <td border="0.5" style="text-align:center;" colspan="3">
                                    <br/>
                                    <br/>
                                    <br/>
                                </td>
                            </tr>

                    </table>

               
                    <div>
                        <h10>
                            <i>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Conception et implementation de  FOKAM POKA ARSENE, Ing, Tel : +1(450)6267192,  Arsene.Fokam.Poka@ccnb.ca

                                                                                                                                                                
                                                                                                                                                    
                                                                                                                        
                                                                                            
                                                            
                            </i>
                        </h10>
                    </div>
              
            </page>
        {% endfor %}
        <script type="text/javascript" src="{{ absolute_url(asset('assets/js/jquery-3.1.1.js')) }}"></script>
        <script type="text/javascript" src="{{ absolute_url(asset('assets/js/repportCard.js')) }}"></script>
            
       
    </body>
</html>
