{% extends 'layout/backEndLayout.html.twig' %}



{% block content %}
  
    
        <div class="row mt-4">
            <div class="col-1" >
                <a class="btn btn-info" href="{{ path('admin_modules_new') }}">
                    <i class="fa fa-plus"></i> <h1>New </h1>
                </a>
            </div>
            <div class="col-11 jumbotron" >
                <div class="m-1 box-shadow">
                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal text-center text-justify text-uppercase"> Liste des modules de cours </h4>
                    </div>
                    <table  width="100%" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:10%;" class="text-center" scope="col">#</th>
                                <th style="width:15%;" class="text-center" scope="col">Code</th>
                                <th style="width:15%;" class="text-center" scope="col">Nom</th>
                                <th style="width:20%;" class="text-center" scope="col">Classe</th>
                                <th style="width:40%;" class="text-center" scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for module in modules %}
                                <tr>
                                    <td style="width:15%;" class="text-center" scope="row">{{ loop.index }}</th>
                                    <td style="width:15%;" class="text-center" ><a href="{{ path('admin_modules_show', {id: module.id}) }}"><h3>{{ module.code }}</h3></a></td>
                                
                                    <td style="width:15%;" class="text-center" ><a href="{{ path('admin_modules_show', {id: module.id}) }}"><h3>{{ module.name }}</h3></a></td>
                                    <td style="width:15%;" class="text-center" ><a href="{{ path('admin_classrooms_show', {id: module.room.id}) }}"><h3>{{ module.room.name }}</h3></a></td>
                                    
                                    <td style="width:15%;" class="text-center">
                                        <div class="btn-group">
                                            
                                               <a class="btn btn-outline-info" href="{{ path('admin_modules_show', {id: module.id}) }}">
                                                    <i class="fa fa-eye" aria-hidden="true"></i> 
                                        </a>
                                        <a class="btn btn-outline-warning" href="{{path('admin_modules_edit', {id: module.id})}}"> 
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                            
                                        
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                 </div>
            </div>
            
        </div>
   
{% endblock %}
