{% extends 'layout/backEndLayout.html.twig' %}


{% block content %}
        
         <form action={{path("admin_paymentPlans_new")}} method="POST">
        

            <div class="row mt-4">
                <div class="col-12 jumbotron" >
                    <div class="m-1 box-shadow">
                            <div class="card-header row">
                                                <h4 class="my-0 font-weight-normal text-center text-justify text-uppercase col-7"> Grille de tranches de scolarite par classe </h4>
                                                {% if(year.paymentPlan) %}
                                                     

                                                {% else %}
                                                <label for="slice" class="col-4 text-uppercase"> Definir le nombre de tranches </label>
                                                <input class="form-control col-1" type="number" min="0" max="3" value="0" id="slice" placeholder="nombre de tranches">
                                                {% endif %}
                            </div>
                            <table  width="100%" class="table table-striped">
                                <thead>
                                    <tr class="row">
                                        <th class="text-center col-1" scope="col">Niveau</th>
                                        <th  class="text-center col-1" id="roomTHead" scope="col">Classe</th>
                                        {% if(year.paymentPlan) %}
                                            {% for tranche in year.paymentPlan.installments|reduce((unique, item)=>item.rank in unique ? unique : unique|merge([item.rank]), [])|reverse %}
                                                <th  class="text-center col-1" id="roomTHead" scope="col">Tranche {{ tranche }}</th>
                                            {% endfor %}
                                        {% endif %}
                                        <th  class="text-center col-2" scope="col" colspan="2">Frais Examen</th>                            
                                        <th  class="text-center col-1" scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if(year.paymentPlan) %}
                                        {% for room in rooms %}
                                            <tr class="row">
                                                <td  class="text-center col-1" scope="row">{{ room.level.name }}</td>
                                                <td  class="text-center col-1 roomTBody" scope="row" data-room={{ room.id }}>{{ room.name }}</td>
                                               
                                                    
                                                        {% for tranche in year.paymentPlan.installments %}
                                                            {% if(tranche.classRoom.id == room.id) %}
                                                                <td  class="text-center col-1" scope="row">{{ tranche.amount }}</td>
                                                                <td  class="text-center col-1" scope="row">{{ tranche.deadline|date("d-m-Y") }}</td>
                                                            {% endif %}
                                                        {% endfor %}
                                                    
                                                
                                                <td  class="text-center col-1 sum" scope="row"></td>
                                            </tr>
                                        {% endfor %}                

                                    {% else %}
                                        {% for room in rooms %}
                                            <tr class="row">
                                                <td  class="text-center col-1" scope="row">{{ room.level.name }}</td>
                                                <td  class="text-center col-1 roomTBody" scope="row" data-room={{ room.id }}>{{ room.name }}</td>
                                                {%  if(room.apc) %}
                                                    <td  class="text-center col-1" scope="row">  <input type="number" value="0" class="form-control input-sm" name={{"tranche_class_0_"~room.id}} /></td>
                                                    <td  class="text-center col-1" scope="row">   <input type="date"  class="form-control input-sm" name={{"deadline_class_0_"~room.id}} /></td>
                                                {% else %}
                                                    <td  class="text-center col-2" colspan="2" scope="row"></td>
                                                {% endif %}
                                                <td  class="text-center col-1 sum" scope="row"></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
            {% if(year.paymentPlan|length <= 0) %}
            <div class="row mt-2 mx-auto">
                                <div class=" col-3">
                                </div>
                                <div class=" col-3 mx-auto btn-group d-inline-flex p-2 bd-highlight">
                                    <button class="btn btn-danger" type="submit">
                                        <b>
                                            <i class="fa fa-balance-scale"></i>submit</b>
                                    </button>
                                </div>
                                <div class="  col-3 mx-auto btn-group d-inline-flex p-2 bd-highligh">
                                    <a class="btn btn-info" href="{{ path('admin_paymentPlans') }}">
                                        <i class="fa fa-list"></i>
                                        {{ 'Back to the list'|trans({}, 'admin') }}
                                    </a>
                                    
                                </div>
                                <div class=" col-3">
                                </div>
            </div>
            {% endif %}
        </form>
   

{% endblock %}
{% block javascripts %}
	{{parent()}}
    <script type="text/javascript">
        const slice = $("#slice"), roomTHead=$("#roomTHead")  ;
        const sumTd = $(".sum");
        var trancheClass = $("input[name*='tranche_class']"), deadlineClass = $("input[name*='deadline_class']");
        sliceSize = slice.val();
        for(let i=sliceSize; i>=1 ; i--) {
                 $(`<th style=\"width:16%;\" class=\"text-center  inserted\" scope=\"col\" colspan=\"2\">Tranche ${i}</th>`).insertAfter(roomTHead); 
        } 
     
        slice.change(function(){
            $('.inserted').each(function(){
                    $(this).remove();
            });
            sliceSize = slice.val();
            for(let i=sliceSize; i>=1 ; i--) {
                  $(`  <th  class=\"text-center col-2 inserted\" scope=\"col\" colspan=\"2\">Tranche ${i}</th>`).insertAfter(roomTHead);
                  $(".roomTBody").each(function() {
                        let roomId = $(this).closest("tr").find(".roomTBody").data("room");
                        $(` <td  class=\"text-center col-1 inserted\" scope=\"row\"><input type=\"number\"  value=\"0\" class=\"form-control input-sm\" name="tranche_class_${i}_${roomId}" /></td>
                            <td  class=\"text-center col-1 inserted\" scope=\"row\"><input type=\"date\"  class=\"form-control  input-sm\" name="deadline_class_${i}_${roomId}"/></td>
                                 `).insertAfter($(this));
                      
                  });
                  
            } 
            trancheClass = $("input[name*='tranche_class']");
            trancheClass.change(function(e){
                let sum = 0;
                let tranches = $(e.target).closest("tr").find("input[name*='tranche_class']");
                tranches.each(function(){
                    sum += parseInt($(this).val());
                });
                $(this).closest("tr").find(".sum").text(sum);
            });
         });
    </script>
{% endblock javascripts %}
