{% extends 'layout/backEndLayout.html.twig' %}


{% block content %}
  
    
         <div class="row mt-4">
            <div class="col-1" >
                <a class="btn btn-info" href="{{ path('admin_paymentPlans_new') }}">
                    <i class="fa fa-plus"></i> <h1>New </h1>
                </a>
            </div>
            <div class="col-11 jumbotron" >
              <div class="m-1 box-shadow">
                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal text-center text-justify text-uppercase"> Gestion de la Scolarire </h4>
                    </div>
                <table  width="100%" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:5%;" class="text-center" scope="col">ID</th>
                            <th style="width:15%;" class="text-center" scope="col">Montant</th>
                            <th style="width:15%;" class="text-center" scope="col">Annee</th>
                             <th style="width:20%;" class="text-center" scope="col">Etudiant</th>                            
                            <th style="width:25%;" class="text-center" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for paymentPlan in paymentPlans %}
                            <tr>
                                <td style="width:5%;" class="text-center" scope="row">{{ loop.index }}</th>
                                 <td style="width:15%;" class="text-center" scope="row">{{ level.cycle.section.program.name }}</th>
                                 <td style="width:15%;" class="text-center" scope="row">{{ paymemt.id }}</th>
                                 <td style="width:20%;" class="text-center" scope="row">{{ payment.amount }}</th>
                                 <td style="width:20%;" class="text-center" scope="row">{{ payment.SchoolYear.name }}</th>
                                <td style="width:20%;" class="text-center" scope="row">{{ payment.student.name }}</th>
                               
                                <td style="width:20%;" class="text-center" ><a href="{{ path('admin_levels_show', {id: level.id}) }}"><h3>{{ level.name }}</h3></a></td>
                             
                                
                                <td style="width:25%;" class="text-center">
                                    <div class="btn-group">
                                         <a class="btn btn-info" href="{{ path('admin_levels_show', {id: level.id}) }}">
                                                    <i class="fa fa-eye" aria-hidden="true"></i> 
                                        </a>
                                        <a class="btn btn-warning" href="{{path('admin_levels_edit', {id: level.id})}}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>

                                      
                                        </a>
                                      
                                       
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
   
{% endblock %}