<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Fiche annuelle de notes
                    
        </title>
        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/css/bootstrap.min.css')) }}" />
        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/css/pdf.css')) }}" />
    </head>
    <body>
        <header class="clearfix">
            <h1>
                <b>
                    {% if(room.level.cycle.section.name=="Francophone") %}
                        FICHE ANNUELLE DE NOTES 
                                                                        
                                            
                    {% else %}
                        ANNUAL GRADE SHEET
                                                                    
                                            
                    {% endif %}
                </b>
            </h1>
            <div id="companyleft">
                <h5>
                    <b>
                        <span>
                            {% if(room.level.cycle.section.name=="Francophone") %}
                                CLASSE 
                                                                                        
                                                            
                            {% else %}
                                CLASS
                                                                                    
                                                            
                            {% endif %}
                        </span>
                        {{ room.name }}
                    </b>
                </h5>
            </div>
            <div id="companyright">
                <h5>
                    <b>
                        <span>
                            {% if(room.level.cycle.section.name=="Francophone") %}
                                ANNEE SCOLAIRE &nbsp;   
                                                                
                                {{ year }}
                            {% else %}
                                {{ year }}
                                &nbsp; SCHOOL YEAR
                                                                                    
                                                            
                            {% endif %}
                        </span>
                    </b>
                </h5>
            </div>
        </header>
        <main>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <div style="text-align:right;">
                                <h6>
                                    <span>
                                        <b>
                                            N°    
                                                                                    
                                        </b>
                                    </span>
                                </div>
                            </h6>
                        </th>
                        <th>
                            <div style="text-align:right;">
                                <h6>
                                    <span>
                                        <b>
                                            {% if(room.level.cycle.section.name=="Francophone") %}
                                                NOM(S)
                                                                                                                        
                                                                                            
                                            {% else %}
                                                SECOND NAME(S)
                                                                                                                    
                                                                                            
                                            {% endif %}
                                        </b>
                                    </span>
                                </div>
                            </h6>
                        </th>
                        <th>
                            <div style="text-align:right;">
                                <h6>
                                    <span>
                                        <b>
                                            {% if(room.level.cycle.section.name=="Francophone") %}
                                                PRENOMS(S)
                                                                                                                        
                                                                                            
                                            {% else %}
                                                FIRSTNAME(S)
                                                                                                                    
                                                                                            
                                            {% endif %}
                                        </b>
                                    </span>
                                </div>
                            </h6>
                        </th>
                        {% for i in 1..6 %}
                            <td class="total">
                                DP
                                                            
                            </td>
                            <td class="total">
                                DA
                                                            
                            </td>
                            <td border="medium" class="qty">
                                <b>
                                    EVAL 
                                                                        
                                    {{ i }}
                                </b>
                            </td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for std in students %}
                        <tr>
                            <td class="qty">
                                {{ loop.index }}
                            </td>
                            <td class="desc">
                                <b>
                                    {{ std.lastname }}
                                </b>
                            </td>
                            <td class="desc">
                                <b>
                                    {{ std.firstname }}
                                </b>
                            </td>
                            {% for i in 1..6 %}
                                <td class="total"></td>
                                <td class="total"></td>
                                <td border="medium" class="qty"></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
        <footer>
            Fiche annuelle de report de notes
                                
                    
        </footer>
    </body>
</html>
