<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Fiche simple</title>

        <link href="{{pathToWeb}}/assets/css/pdf.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="{{pathToWeb}}/assets/css/bootstrap.min.css">
    </head>
    <body>
        <header class="clearfix">
            <table cellspacing="0" align="center" cellpadding="5" style="line-height:14px; ">
                <tr>
                    <td style="line-height:11px; text-align:center; ">
                        <span>REPUBLIQUE DU CAMEROUN</span><br/><br/>
                        <span style="margin-left:1.5em;">
                            <i>Paix - Travail - Patrie</i>
                        </span><br/><br/>
                        <span style="margin-left:2.5em;">*************</span><br/><br/>
                        <span>Minist&eacutere des enseignements secondaires</span><br/><br/>
                        <span style="margin-left:2.5em;">*************</span><br/><br/>
                        <span>D&eacutel&eacutegation R&eacutegionale du Centre</span><br/><br/>
                        <span style="margin-left:2.5em;">*************</span><br/><br/>
                        <span>D&eacutel&eacutegation D&eacutepartementale de la<br/><br/><span style="margin-left:2.5em;">
                                MEFOU et AKONO</span>
                        </span><br/><br/>
                        <span style="margin-left:2.5em;">*************</span><br/><br/>
                        <span style="margin-left:2em;">BP : 31367 YDE</span><br/><br/>
                        <span style="margin-left:2em;">Tel : 699545124</span><br/><br/>
                    </td>

                    <td><img src="{{pathToWeb}}/img/favicon.jpg" width="100%"/>
                        <div style="margin-bottom:0.2em;margin-left:1em; font-size: 0.75em;">
                            <i>
                                DISCIPLINE-PERSEVERANCE-SUCCES</i>
                        </td>
                    </td>
                    <td style="line-height:11px; text-align:center; ">
                        <span>REPUBLIC OF CAMEROON</span><br/><br/>
                        <span style="margin-left:1em;">
                            <i>Peace - Work - Fatherland</i>
                        </span><br/><br/>
                        <span style="margin-left:2.5em;">*************</span><br/><br/>
                        <span>Ministery of Secondary Education</span><br/><br/>
                        <span style="margin-left:2.5em;">*************</span><br/><br/>
                        <span>Regional Delegation of the Center</span><br/><br/>
                        <span style="margin-left:2.5em;">*************</span><br/><br/>
                        <span>MEFOU and AKONO Divisional
                            <br/><br/><span style="margin-left:4em;">Delegation</span>
                        </span><br/><br/>
                        <span style="margin-left:2.5em;">*************</span><br/><br/>
                        <span style="margin-left:3em;">BP : 31367 YDE</span><br/><br/>
                        <span style="margin-left:3em;">Tel : 699545124</span><br/><br/>
                    </td>
                </tr>

            </table>
            <h1>
                <b>
                    {% if(room.level.cycle.section.name=="Francophone") %}
                        FICHES DE REPPORT DES NOTES
                    {% else %}
                        NOTES POSTING SHEETS
                    {% endif %}
                </b>
            </h1>
            <div id="companyleft">

                <h5>
                    <b>
                        <span>
                            {% if(room.level.cycle.section.name=="Francophone") %}
                                CLASSE
                            {% else %}
                                CLASS
                            {% endif %}
                        </span>
                        {{room.name}}</b>
                </h5>
            </div>
            <div id="companyright">
                <h5>
                    <b>
                        <span>
                            {% if(room.level.cycle.section.name=="Francophone") %}
                                ANNEE SCOLAIRE &nbsp;
                                {{year}}
                            {% else %}
                                {{year}}
                                &nbsp; SCHOOL YEAR
                            {% endif %}
                        </span>
                    </b>
                </h5>

            </div>

        </header>
        <main>
            <table>
                <thead>
                    <tr>

                        <th class="desc" style="width:40%;">
                            <h7>
                                <b>
                                    {% if(room.level.cycle.section.name=="Francophone") %}
                                        NOMS ET PRENOMS
                                    {% else %}
                                        LASTNAMES AND FIRSTNAMES
                                    {% endif %}
                                </b>
                            </h7>
                        </th>
                        <th style="width:5%;">
                            <b>EVAL1</b>
                        </th>
                        <th style="width:5%;">
                            <b>EVAL2</b>
                        </th>
                        <th style="width:5%;">
                            <b>EB1</b>
                        </th>
                        <th style="width:5%;">
                            <b>TRIM1</b>
                        </th>
                        <th style="width:5%;">
                            <b>EVAL3</b>
                        </th>
                        <th style="width:5%;">
                            <b>EVAL4</b>
                        </th>
                        <th style="width:5%;">
                            <b>EB2</b>
                        </th>
                        <th style="width:5%;">
                            <b>TRIM2</b>
                        </th>
                        <th style="width:5%;">
                            <b>EVAL5</b>
                        </th>
                        <th style="width:5%;">
                            <b>EVAL6</b>
                        </th>
                        <th style="width:5%;">
                            <b>EB3</b>
                        </th>
                        <th style="width:5%;">
                            <b>TRIM3</b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for std in students%}
                        <tr>

                            <td>
                                <b>{{std.lastname }}</td>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="notices">
                <div>NOTICE:</div>
                <div class="notice">
                    {% if(room.level.cycle.section.name=="Francophone") %}
                                        Chaque enseignant n'a droit qu'à un exemplaire de cette fiche de procès verbal
                                    {% else %}
                                        Each teacher is entitled to only one copy of this sheet of report
                                    {% endif %}
                    </div>
            </div>
        </main>
        <footer>
            
        </footer>
    </body>
</html>
