{% extends 'layout/backEndLayout.html.twig' %}

{% block content %}
        <div class="row  mt-4">
            <div class="col-1">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-info" href="{{ path('admin_classrooms_new') }}">
                        <i class="fa fa-plus"></i>                                                 
                    </a>
                {% endif %}
             </div>
            <div class="col-11 jumbotron">

                <div class="card-header d-inline-flex">

                    <h4 class="my-0 font-weight-normal text-center   text-uppercase">
                        &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  Liste des salles de classe 
                    </h4>
                </div>
                <table width="120%" class="table table-striped table-sm">
                    <thead>
                        <tr>
                           
                            <th style="width:18%;" class="text-center" scope="col">
                                Nom
                            </th>

                            <th style="width:15%;" class="text-center" scope="col">
                                Professeur titulaire
                            </th>

                            <th style="width:75%;" class="text-center" scope="col">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for room in classrooms %}
                            <tr>
                               
                                <td>
                                    <a href="{{ path('admin_classrooms_show', {id: room.id }) }}">
                                        {{ room.name }}
                                    </a>
                                </td>
                                <td>
                                    {% if room.id in mainTeachers|keys %}
                                       {{  mainTeachers[room.id].fullName}}
                                    {% endif %}

                                </td>
                                <td>
                                    <div class="btn-group">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-outline-warning " href="{{ path('admin_classrooms_edit', {id: room.id}) }}">
                                            <i class="fa fa-edit">
                                               
                                            </i>
                                        </a>
                                     {% endif %}
                                        <a class="btn btn-file" target="_blank" href="{{ path('admin_classrooms_fichesimple', {id: room.id}) }}">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true">
                                                &nbsp;Repport Notes
                                            </i>
                                        </a>
                                        <a class="btn btn-outline-info " target="_blank" href="{{ path('admin_classrooms_presentation', {id: room.id}) }}">
                                            <i class="fa fa-users" aria-hidden="true">
                                        
                                            </i>
                                        </a>
                                        <a class="btn btn-outline-dark " target="_blank" href="{{ path('admin_classroom_insolvent', {id: room.id}) }}">
                                            <i class="fa fa-users" aria-hidden="true">
                                                
                                            </i>
                                        </a>
                                        <a class="btn btn-file" target="_blank" href="{{ path('admin_classrooms_recapitulatif', {room: room.id, seq : seq}) }}">
                                            <i class="fa fa-file" aria-hidden="true">
                                                &nbsp;Recap. vierge
                                            </i>
                                        </a>
                                        {#<a class="btn btn-file" target="_blank" href="{{ path('admin_classrooms_blanc_ann', {room: room.id}) }}">
                                            <i class="fa fa-th-list" aria-hidden="true">
                                                &nbsp;Fiche annu.
                                            </i>
                                        </a>#}
                                        <a class="btn btn-file" target="_blank" href="{{ path('admin_payment_plan_print', {id: room.id}) }}">
                                            <i class="fa fa-money" aria-hidden="true">
                                                &nbsp;Echeancier
                                            </i>
                                        </a>
                                        <a class="btn btn-file" target="_blank" href="{{ path('admin_classrooms_disciplinary_record', {id: room.id}) }}">
                                            <i class="fa fa-th-list" aria-hidden="true">
                                                &nbsp;Fiche discipl.
                                            </i>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
