<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Récapitulatif séquentiel
        </title>

        <link href="{{ pathToWeb }}/assets/css/pdf.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{{ pathToWeb }}/assets/css/bootstrap.min.css">
    </head>
    <body>
        <header class="clearfix">

            <h1>
                <b>
                    Récapitulatif de la 
                    {{ evaluation.sequence.wording }}
                </b>
            </h1>
            <div id="company" class="clearfix">
                <div>
                    <h5>
                        <b>
                            <span>
                                Classe
                            </span>
                            {{ evaluation.classroom.name }}
                        </b>
                    </h5>
                </div>

            </div>
            <div id="project">
                <div>
                    <h5>
                        <b>
                            <span>
                                Année scolaire
                            </span>
                            {{ evaluation.sequence.quater.schoolYear.wording }}
                        </b>
                    </h5>
                </div>

            </header>
            <main>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="service" style="width:10%;">
                                Matricule
                            </th>
                            <th class="desc" style="width:30%;">
                                <h8>
                                    Nom et prénom
                                </h8>
                            </th>
                            <th style="width:5%;">
                                <b>
                                    SEQ1
                                </b>
                            </th>
                            {% for std in students %}{% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for std in students %}
                            <tr>
                                <td class="service">
                                    <b>
                                        {{ std.matricule }}
                                    </b>
                                </td>
                                <td class="desc">
                                    <b>
                                        {{ std.lastname }}
                                        {{ std.firstname }}
                                    </b>
                                </td>
                                <td class="qty"></td>
                                <td class="qty"></td>
                                <td class="qty"></td>
                                <td class="total"></td>
                                <td class="qty"></td>
                                <td class="qty"></td>
                                <td class="qty"></td>
                                <td class="total"></td>
                                <td class="qty"></td>
                                <td class="qty"></td>
                                <td class="qty"></td>
                                <td class="total"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="notices">
                    <div>
                        NB:
                    </div>
                    <div class="notice">
                        Chaque élève est tenu de vérifier la conformité des informations ci dessus mentionnées et en cas de problème, se rapprocher l'enseignant. 
                    </div>
                    <div class="notice">
                        Délai : Une semaine à compter de la date d'affichage  
                    </div>
                </div>
            </main>
            <footer>
                Fiche de procès verbal
                        
            </footer>
        </body>
    </body>
</html>
