<!DOCTYPE html>
<html>

    <head>
        <link rel="icon" type="image/ico" href="{{ pathToWeb }}/img/favicon.jpg" {# href="{{ asset('img/favicon.jpg')}}" #} />

        <title>
            {% if room.level.cycle.section.name == "Francophone" %}
                Bulletins annuels
                			
            {% else %}
                Annual report cards			
                			
            {% endif %}
            {{ room.name }}
        </title>
    </head>

    <body style="font-family:  times, serif;">
        {# Total global des moyenne strimestrielles eq1#}

        {% for std in students %}
            <div style=" height:1302px; border-style: double; justify-content: space-between; vertical-align: middle;  text-align: center; margin:  0px 0px 0px 0px ;   ">

                <section style=" margin:auto;">

                    <table cellspacing="0" align="center" style=" width: 100%; text-align:center; font-size: 1em; ">
                        <tr>
                            <td style=" width: 35%;">
                                <span>
                                    REPUBLIQUE DU CAMEROUN
                                </span>
                                <br/>
                                <span style="margin-left:1.5em;">
                                    <i>
                                        Paix - Travail - Patrie
                                    </i>
                                </span>
                                <br/>
                                <span style="margin-left:2.5em;">
                                    *************
                                </span>
                                <br/>
                                <span>
                                    Minist&eacutere des enseignements secondaires
                                </span>
                                <br/>
                                <span style="margin-left:2.5em;">
                                    *************
                                </span>
                                <br/>
                                <span>
                                    D&eacutel&eacutegation R&eacutegionale du Centre
                                </span>
                                <br/>
                                <span style="margin-left:2.5em;">
                                    *************
                                </span>
                                <br/>
                                <span>
                                    D&eacutel&eacutegation D&eacutepartementale de la	MEFOU et AKONO
                                </span>
                                <H5>
                                    INSTITUT SECONDAIRE
                                    									
                                    <br/>
                                    BILINGUE BETHESDA
                                    								
                                </H5>

                            </td>
                            <td style=" width: 30%; ">
                                <img style="border-radius:5%;" src="{{ pathToWeb }}/img/favicon.jpg" {# src="{{ asset('img/favicon.jpg')}}"#} height="20%" />
                                <div style="font-size: 1em;">
                                    <b>
                                        <h6>
                                            DISCIPLINE-PERSEVERANCE-SUCCES
                                            										
                                        </h6>
                                    </b>
                                    <br/>
                                    <br/>
                                    <i>
                                        <span>
                                            BP : 31367 YDE
                                        </span>
                                        <br/>
                                        <span>
                                            TEL : 699545124
                                        </span>
                                        <br/>
                                    </i>
                                </b>
                            </td>
                            <td style=" width: 35%;">
                                <span>
                                    REPUBLIC OF CAMEROON
                                </span>
                                <br/>
                                <span style="margin-left:1em;">
                                    <i>
                                        Peace - Work - Fatherland
                                    </i>
                                </span>
                                <br/>
                                <span style="margin-left:2.5em;">
                                    *************
                                </span>
                                <br/>
                                <span>
                                    Ministery of Secondary Education
                                </span>
                                <br/>
                                <span style="margin-left:2.5em;">
                                    *************
                                </span>
                                <br/>
                                <span>
                                    Regional Delegation of the Center
                                </span>
                                <br/>
                                <span style="margin-left:2.5em;">
                                    *************
                                </span>
                                <br/>
                                <span>
                                    MEFOU and AKONO Divisional 
                                    <br/>
                                    Delegation
                                </span>
                                <H5>
                                    BETHESDA BILINGUAL
                                    									
                                    <br/>
                                    SECONDARY INSTITUTE
                                    								
                                </H5>
                            </td>
                        </tr>
                    </table>

                    <hr style="margin-left:0px; width: 100%;">
                    <br/>
                    <br/>
                    <table cellspacing="0" style="line-height:8px; width: 100%; font-size: 1em;">
                        <table style=" width: 100%; text-align:center; font-size: 80%; ">
                            <tr>
                                <td style=" width: 30%;">
                                    {% if std.profileImagePath is null %}
                                        <img
                                    src="{{ pathToWeb }}/img/student/ondasblue.jpeg" />

                                        {% else %}
                                        <img src="{{ pathToWeb }}/img/student/{{ std.profileImagePath }}" {# src="{{ asset('img/student/'~std.profileImagePath)}}" #} height="140em" width="170em" />

                                    {% endif %}
                                </td>
                                <td style=" width: 30%;">
                                    <h3>
                                        <span>
                                            {% if room.level.cycle.section.name == "Francophone" %}
                                                Nom
                                                											
                                            {% else %}
                                                Name
                                                											
                                            {% endif %}
                                            :
                                            										
                                        </span>
                                        <b>
                                            {{ std.lastname }}

                                            {{ std.firstname }}
                                        </b>
                                    </h3>
                                    <h3>

                                        <span>
                                            {% if room.level.cycle.section.name == "Francophone" %}
                                                N&eacute(e) le  &nbsp;&nbsp; :  &nbsp;&nbsp;
                                                												
                                                {% if std.birthday %}
                                                    {{ std.birthday|date('d-m-Y') }}
                                                {% endif %}
                                            {% else %}
                                                Born on   &nbsp;&nbsp;:  &nbsp;&nbsp;
                                                												
                                                {% if std.birthday %}
                                                    {{ std.birthday|date('Y-m-d') }}
                                                {% endif %}
                                            {% endif %}

                                            <br/>
                                            <br/>
                                            <br/>
                                            {% if room.level.cycle.section.name == "Francophone" %}
                                                &agrave;  &nbsp;&nbsp;
                                                											
                                            {% else %}
                                                at  &nbsp;&nbsp;
                                                											
                                            {% endif %}
                                            :  &nbsp;&nbsp;
                                            											
                                            {{ std.birthplace }}
                                        </span>
                                        <br/>
                                    </h3>

                                    <h3>
                                        <span>
                                            Sexe:
                                            											
                                            {% if std.gender %}
                                                F
                                            {% else %}
                                                M
                                                											
                                            {% endif %}
                                        </span>
                                        <br/>
                                    </h3>
                                </td>

                                <td style=" width: 30%;">
                                    <div style="margin-bottom:0.2em;">
                                        {% if room.level.cycle.section.name == "Francophone" %}
                                            {{ year.wording }}
                                            &nbsp;&nbsp; /  &nbsp;&nbsp;
                                            										
                                            										
                                        {% else %}
                                            {{ year.wording }}
                                            &nbsp;&nbsp; /   &nbsp;&nbsp;
                                            											
                                            										
                                        {% endif %}
                                    </div>
                                    <br/>
                                    <h3>
                                        <span>
                                            {% if room.level.cycle.section.name == "Francophone" %}
                                                Matricule
                                                											
                                            {% else %}
                                                reg.number
                                                											
                                            {% endif %}
                                        </span>
                                        {{ std.matricule }}
                                        <br/>
                                    </h3>
                                    <br/>
                                    <h3>
                                        <span>
                                            {% if room.level.cycle.section.name == "Francophone" %}
                                                Classe
                                                											
                                            {% else %}
                                                class
                                                											
                                            {% endif %}
                                            :
                                        </span>
                                        <b>
                                            {{ room.name }}
                                        </b>
                                    </h3>
                                    <br/>

                                </td>
                            </tr>
                        </table>
                        <br/>
                        <table style="font-size: 80%;" cellspacing="0" align="center" cellpadding="1" border="1" width="100%">
                            <tr style="text-align:center;" style="background-color:#EBECEC;" border="0.5">
                                <th border="0.5" width="15%">
                                    <b>
                                        {% if room.level.cycle.section.name == "Francophone" %}
                                            DISCIPLINE
                                            										
                                        {% else %}
                                            COURSE
                                            										
                                        {% endif %}
                                    </b>
                                </th>
                                <th border="0.5" cellspacing="1" width="27%">
                                    <b>

                                        {% if room.level.cycle.section.name == "Francophone" %}
                                            COMPETENCE VISEE
                                            										
                                        {% else %}
                                            TARGET SKILL
                                            										
                                        {% endif %}
                                    </b>
                                </th>
                                <th border="0.5" width="6%">
                                    <b>
                                        {% if room.level.cycle.section.name == "Francophone" %}
                                            TRIM 1
                                            										
                                        {% else %}
                                            QUATER 1
                                            										
                                        {% endif %}
                                    </b>
                                </th>
                                <th border="0.5" width="6%">
                                    <b>
                                        {% if room.level.cycle.section.name == "Francophone" %}
                                            TRIM 2
                                            										
                                        {% else %}
                                            QUATER 2
                                            										
                                        {% endif %}
                                    </b>
                                </th>
                                <th border="0.5" width="6%">
                                    <b>
                                        {% if room.level.cycle.section.name == "Francophone" %}
                                            TRIM 3
                                            										
                                        {% else %}
                                            QUATER 3
                                            										
                                        {% endif %}
                                    </b>
                                </th>
                                <th border="0.5" cellspacing="1" width="6%">
                                    <b>

                                        {% if room.level.cycle.section.name == "Francophone" %}
                                            Annuel
                                            										
                                        {% else %}
                                            Annual
                                            										
                                        {% endif %}
                                    </b>
                                </th>
                                <th border="0.5" width="4%">
                                    <b>
                                        COEF
                                    </b>
                                </th>
                                <th border="0.5" cellspacing="1" width="5%">
                                    <b>
                                        ANN*COEF
                                        									
                                        									
                                    </b>
                                </th>
                                <th border="0.5" cellspacing="1" width="5%">
                                    <b>
                                        APPR.
                                    </b>
                                </th>

                                <th border="0.5" width="2%">
                                    <b>
                                        {% if room.level.cycle.section.name == "Francophone" %}
                                            RANG
                                            										
                                        {% else %}
                                            RANK
                                            										
                                        {% endif %}

                                    </b>
                                </th>
                                <th border="0.5" width="15%">
                                    <b>

                                        {% if room.level.cycle.section.name == "Francophone" %}
                                            PROFESSEUR
                                            										
                                        {% else %}
                                            TEACHER
                                            										
                                        {% endif %}
                                    </b>
                                </th>
                                <th border="0.5" width="3%">
                                    <b>
                                        SIGNATURE
                                    </b>
                                </th>
                            </tr>

                            {% set totalCoefTrim1 = 0 %}
                            {# Total global des coefficients du trimestre 1 #}
                            {% set totalCoefTrim2 = 0 %}
                            {# Total global des coefficients du trimestre 2  #}
                            {% set totalCoefTrim3 = 0 %}
                            {# Total global des coefficients du trimestre 3  #}

                            {% set totalNCoefTrim1 = 0 %}
                            {# Total global des Note * coefficient Trim1 #}
                            {% set totalNCoefTrim2 = 0 %}
                            {# Total global des Note * coefficient Trim2 #}
                            {% set totalNCoefTrim3 = 0 %}
                            {# Total global des Note * coefficient Trim3 #}

                            {% set totalNCoefAnn = 0 %}
                            {# Total global des Note * coefficient Annuel #}
                            {% set totalCoefAnn =0 %}
                            {# Total global des coefficients  durant l'annee   #}
                            								
                            
                            
                            							{% for module in room.modules %}
                            								{% set totalCoefModule1 =0 %}
                            								{# Total partiel des coefficients du module durant le trim 1 #}
                            								{% set NCoefMod1 =0 %}
                            								{# Total partiel des Note * coefficient du module durant le trim 1 #}
                            								{% set totalCoefModule2 =0 %}
                            								{# Total partiel des coefficients du module   durant le trim 2 #}
                            								{% set NCoefMod2 =0 %}
                            								{# Total partiel des Note * coefficient du module durant le trim 2 #}
                            								{% set totalCoefModule3 =0 %}
                            								{# Total partiel des coefficients du module   durant le trim 3 #}
                            								{% set NCoefMod3 =0 %}
                            
                            								
                            								
                            								{# Total partiel des Note * coefficient du module durant le trim 3 #}
                            								{% set NCoefModAnnuel =0 %}
                            								{# Total partiel des Note * coefficient du module durant l'annee #}
                            {% set totalCoefModAnnuel =0 %}
                            
                            