<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Fiche simple
                                                    
                                        
                            
                    
        </title>
        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/css/bootstrap.min.css')) }}" />
        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/css/pdf.css')) }}" />

    </head>
    <body>
        <header class="clearfix">
            <table cellspacing="0" align="center" style="line-height:14px; ">
                <tr>
                    <td style="text-align:center; ">
                        <span>
                                REPUBLIQUE DU CAMEROUN
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:1.5em;">
                            <i>
                                Paix - Travail - Patrie
                           </i>
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                        </span>
                        <br/>
                        <br/>
                        <span>
                            Minist&eacutere des enseignements secondaires
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                         </span>
                        <br/>
                        <br/>
                        <span>
                            {{get_env("DELEGATION_REGIONALE")|raw }}                                                                                                                                                                                                                                                               
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                        </span>
                        <br/>
                        <br/>
                        <span>
                            D&eacutel&eacutegation D&eacutepartementale de
                             <br/>
                            <br/>
                           {{get_env("DELEGATION_DEPARTEMENTATLE")|raw }}                                                                                                                                                                                                                                         
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2em;">
                           Bp :    {{get_env("POSTAL_BOX")|raw }}                                                                                                                                                                                                                                                                                                                                                                                                                                                 
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2em;">
                            Tel :     {{get_env("CONTACT")|raw }}                                                                                                                                                                                                                                
                        </span>
                        <br/>
                        <br/>
                    </td>

                    <td style="text-align:center; padding:20px ">
                        <img src="{{ absolute_url(asset('assets/images/BethesdaLogo.png')) }}" width="100%" />
                        <div style="margin-bottom:0.2em;margin-left:1em; font-size: 0.75em;">
                            <i>
                                   {{get_env("FRENCH_SLOGAN")|raw }}    
                            </i>
                        </td>
                    </td>
                    <td style="text-align:center; padding-left:20px; padding-right:20px ">
                        <span>
                            REPUBLIC OF CAMEROON
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:1em;">
                            <i>
                                Peace - Work - Fatherland                                                                                                                                                                                                                                                                          
                          </i>
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                        </span>
                        <br/>
                        <br/>
                        <span>
                            Ministery of Secondary Education                                                                                                                                                                                                       
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                        </span>
                        <br/>
                        <br/>
                        <span>
                                {{get_env("REGIONAL_DELEGATION")|raw }}   
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                        </span>
                        <br/>
                        <br/>
                        <span>
                             {{get_env("DIVISIONAL_DELEGATION")|raw }}   
                          <br/>
                            <br/>
                            <span style="margin-left:4em;">
                                Divisional Delegation
                          </span>
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:2.5em;">
                            *************
                      </span>
                        <br/>
                        <br/>
                        <span style="margin-left:3em;">
                            BP :   {{get_env("POSTAL_BOX")|raw }}   
                        </span>
                        <br/>
                        <br/>
                        <span style="margin-left:3em;">
                            Tel :  {{get_env("CONTACT")|raw }}   
                       </span>
                        <br/>
                        <br/>
                    </td>
                </tr>
            </table>
            <h1 style=" text-align:center; " >
                <b>
                    {% if(room.level.cycle.section.name=="Francophone") %}
                        LISTE DES ELEVES PAR CLASSE
                                                                                                                        
                                                                                            
                                                                    
                                            
                    {% else %}
                        LIST OF STUDENTS 
                                                                                                                    
                                                                                            
                                                                    
                                            
                    {% endif %}
                </b>
            </h1>
            <div id="companyleft">

                <h5>
                    <b>
                        <span>
                            {% if(room.level.cycle.section.name=="Francophone") %}
                                CLASSE 
                                                                                                                                                        
                                                                                                                            
                                                                                            
                                                            
                            {% else %}
                                CLASS
                                                                                                                                                    
                                                                                                                            
                                                                                            
                                                            
                            {% endif %}

                        </span>
                        {{ room.name }}
                    </b>
                </h5>
            </div>
            <div id="companyright">
                <h5>
                    <b>
                        <span>
                            {% if(room.level.cycle.section.name=="Francophone") %}
                                ANNEE SCOLAIRE &nbsp;   
                                                                                                                                
                                                                                                
                                                                
                                {{ year }}
                            {% else %}
                                {{ year }}
                                &nbsp; SCHOOL YEAR
                                                                                                                                                    
                                                                                                                            
                                                                                            
                                                            
                            {% endif %}
                        </span>
                    </b>
                </h5>

            </div>

        </header>
        <main>
            <table style=" width: 100%; text-align:center; font-size: 80%; " class="table tablelist">
                <thead>
                    <tr>
                        <th style="width:5%;">
                            <b>
                                N°
                                                                                                                            
                                                                                            
                                                            
                            </b>
                        </th>
                        <th style="width:5%;">
                            <b>
                                MATRICULE
                                                                                                                            
                                                                                            
                                                            
                            </b>
                        </th>
                        <th class="desc" style="width:35%;">
                            <h7>
                                <b>
                                    {% if(room.level.cycle.section.name=="Francophone") %}
                                        NOMS ET PRENOMS
                                                                                                                                                                                        
                                                                                                                                                            
                                                                                                                    
                                                                            
                                    {% else %}
                                        LASTNAMES AND FIRSTNAMES
                                                                                                                                                                                    
                                                                                                                                                            
                                                                                                                    
                                                                            
                                    {% endif %}
                                </b>
                            </h7>
                        </th>

                        <th style="width:5%;">
                            <b>
                                {% if(room.level.cycle.section.name=="Francophone") %}
                                    SEXE
                                                                                                                                                                        
                                                                                                                                            
                                                                                                        
                                                                    
                                {% else %}
                                    GENDER
                                                                                                                                                                    
                                                                                                                                            
                                                                                                        
                                                                    
                                {% endif %}
                            </b>
                        </th>

                        <th style="width:25%;">
                            <b>
                                {% if(room.level.cycle.section.name=="Francophone") %}
                                    DATE DE NAISSANCE
                                                                                                                                                                        
                                                                                                                                            
                                                                                                        
                                                                    
                                {% else %}
                                    BIRTH DATE
                                                                                                                                                                    
                                                                                                                                            
                                                                                                        
                                                                    
                                {% endif %}
                            </b>
                        </th>
                        <th style="width:25%;">
                            <b>
                                {% if(room.level.cycle.section.name=="Francophone") %}
                                    LIEU DE NAISSANCE
                                                                                                                                                                        
                                                                                                                                            
                                                                                                        
                                                                    
                                {% else %}
                                    PLACE OF BIRTH
                                                                                                                                                                    
                                                                                                                                            
                                                                                                        
                                                                    
                                {% endif %}
                            </b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for std in students %}
                        <tr>
                            <td class="qty">
                                {{ loop.index }}
                            </td>
                            <td class="qty">
                                {{ std.matricule }}
                            </td>
                            <td class="desc">
                                <b>
                                    {{ std.lastname }}
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                                                                                                                                                
                                                                                                            
                                                                        
                                    {{ std.firstname }}
                                </b>

                            </td>
                            <td class="qty">
                                {% if std.gender %}
                                    F
                                                                                                                                            
                                                                                                        
                                                                    
                                {% else %}
                                    M 
                                                                                                                                            
                                                                                                        
                                                                    
                                {% endif %}
                            </td>
                            <td class="qty">
                                {% if std.birthday %}
                                    {{ std.birthday|date('d-m-Y') }}
                                {% endif %}
                            </td>
                            <td class="qty">
                                {{ std.birthplace }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </main>
        <footer>
            {% if(room.level.cycle.section.name=="Francophone") %}
                lISTE DES ELEVES INSCRITS
                                                                                        
                                                            
                                            
                            
            {% else %}
                LIST OF REGISTERED STUDENTS
                                                                                    
                                                            
                                            
                            
            {% endif %}
        </footer>
    </body>
</html>
